@font-face {
  font-family: 'iconfont';  /* Project id 3262723 */
  src: url('//at.alicdn.com/t/c/font_3262723_o749mk13uu.woff2?t=1681543790724') format('woff2'),
  url('//at.alicdn.com/t/c/font_3262723_o749mk13uu.woff?t=1681543790724') format('woff'),
  url('//at.alicdn.com/t/c/font_3262723_o749mk13uu.ttf?t=1681543790724') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .24rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e751";
}

.icon-shouye1:before {
  content: "\e62e";
}

.icon-full-screen:before {
  content: "\e607";
}

.icon-quanping:before {
  content: "\e63b";
}

.icon-xiangshangzhanhang:before {
  content: "\ec0b";
}

.icon-fanhui:before {
  content: "\e6ff";
}

.icon-loading:before {
  content: "\e891";
}

.icon-shangjiantou:before {
  content: "\eb6e";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-qianjin:before {
  content: "\e62d";
}

