/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3262723 */
  src: url('//at.alicdn.com/t/c/font_3262723_dqsuqb7bszl.woff2?t=1680669167105') format('woff2'),
  url('//at.alicdn.com/t/c/font_3262723_dqsuqb7bszl.woff?t=1680669167105') format('woff'),
  url('//at.alicdn.com/t/c/font_3262723_dqsuqb7bszl.ttf?t=1680669167105') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .24rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e751";
}

.icon-shouye1:before {
  content: "\e62e";
}

.icon-full-screen:before {
  content: "\e607";
}

.icon-quanping:before {
  content: "\e63b";
}

.icon-xiangshangzhanhang:before {
  content: "\ec0b";
}

.icon-fanhui:before {
  content: "\e6ff";
}

.icon-loading:before {
  content: "\e891";
}

.icon-shangjiantou:before {
  content: "\eb6e";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-qianjin:before {
  content: "\e62d";
}

