@charset "UTF-8";
/**
 * 通用
 */
::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px #00245A inset;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5) inset;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.cx-tooltip {
  text-align: center;
  color: #fff;
  font-size: 0.16rem;
  background: url("../assets/images/xianzhuang/tooltip.png") no-repeat;
  background-size: 100% 100%;
  padding: 0 50px;
  height: 60px;
  line-height: 60px;
}

.cx-select {
  position: relative;
}
.cx-select .cx-select-input {
  width: 1.06rem;
  height: 0.4rem;
  display: flex;
  align-items: center;
  background: #044B8C;
  box-shadow: 0 2px 0 0 #2FDEF4;
  border-radius: 4px;
  font-size: 0.2rem;
  padding-left: 0.19rem;
  position: relative;
}
.cx-select .cx-select-input:hover {
  cursor: pointer;
}
.cx-select .cx-select-input .cx-select-suffix {
  transform: rotate(135deg) translateY(1px);
  font-size: 0.11rem;
  position: absolute;
  right: 0.2rem;
  color: #05dbde;
  transition: all 0.2s linear;
}
.cx-select .cx-option {
  position: absolute;
  top: 0.45rem;
  width: 1.06rem;
  background: rgba(3, 66, 126, 0.86);
  border: 1px solid #1380AB;
  border-radius: 4px;
  display: none;
  z-index: 1000;
}
.cx-select .cx-option li {
  height: 0.32rem;
  line-height: 0.32rem;
  padding-left: 0.19rem;
  transition: all 0.2s linear;
}
.cx-select .cx-option li:hover {
  cursor: pointer;
  color: #11caff;
}
.cx-select .cx-option li.year-active {
  color: #11caff;
}
.cx-select.focus .cx-select-suffix {
  transform: rotate(315deg) translateY(1px);
}

.collapse-item {
  position: relative;
  display: flex;
  align-items: center;
}
.collapse-item-btn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 0.12rem;
  user-select: none;
}
.collapse-item-btn .iconfont {
  display: inline-block;
  font-size: 0.12rem;
  transition: all 0.2s linear;
  transform: rotate(-180deg);
}
.collapse-item-btn:hover {
  cursor: pointer;
  color: #fbf014;
}
.collapse-item-btn.is-collapsed .iconfont {
  transform: rotate(0);
}
.collapse-item.in-right .collapse-item-btn .iconfont {
  transform: rotate(0);
}
.collapse-item.in-right .collapse-item-btn.is-collapsed .iconfont {
  transform: rotate(-180deg);
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1999;
}

.full-screen {
  user-select: none;
  transition: all 0.2s linear;
  transform: scale(0.95);
}
.full-screen:hover {
  transform: scale(1.15);
}

.area-group {
  display: flex;
  align-items: center;
  font-size: 0.18rem;
}
.area-group-item {
  width: 1.34rem;
  height: 0.52rem;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 0.52rem;
  background-image: url("../assets/images/xianzhuang/right-btn.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.area-group-item:hover {
  cursor: pointer;
}
.area-group-item:first-child {
  margin-right: -0.35rem;
}
.area-group-item.area-group-item--active:first-child {
  background-image: url("../assets/images/xianzhuang/left-btn-active.png");
}
.area-group-item.area-group-item--active:last-child {
  background-image: url("../assets/images/xianzhuang/right-btn-active.png");
}
.area-group-item.left-active {
  background-image: url("../assets/images/xianzhuang/right-btn.png");
}
.area-group-item.right-active {
  background-image: url("../assets/images/xianzhuang/left-btn.png");
}

.nav-icon {
  transform: scale(1.2);
}

.nav-name {
  font-size: 0.16rem;
}

.nav li .nav-icon {
  background: url("../assets/images/xianzhuang/xianzhuang-icon.png") no-repeat;
  background-size: cover;
}
.nav li.xianzhuang .nav-icon {
  background-image: url("../assets/images/xianzhuang/xianzhuang-icon.png");
}
.nav li.xianzhuang.nav-active .nav-icon {
  background-image: url("../assets/images/xianzhuang/xianzhuang-active-icon.png");
}
.nav li.yuce .nav-icon {
  background-image: url("../assets/images/xianzhuang/yuce-icon.png");
}
.nav li.yuce.nav-active .nav-icon {
  background-image: url("../assets/images/xianzhuang/yuce-active-icon.png");
}
.nav li.diaodu .nav-icon {
  background-image: url("../assets/images/xianzhuang/diaodu-icon.png");
}
.nav li.diaodu.nav-active .nav-icon {
  background-image: url("../assets/images/xianzhuang/diaodu-active-icon.png");
}
.nav li.kaoping .nav-icon {
  background-image: url("../assets/images/xianzhuang/kaoping-icon.png");
}
.nav li.kaoping.nav-active .nav-icon {
  background-image: url("../assets/images/xianzhuang/kaoping-active-icon.png");
}
.nav li.jianzhu .nav-icon {
  background-image: url("../assets/images/xianzhuang/jianzhu-icon.png");
}
.nav li.jianzhu.nav-active .nav-icon {
  background-image: url("../assets/images/xianzhuang/jianzhu-active-icon.png");
}
.nav li.hangye .nav-icon {
  background-image: url("../assets/images/xianzhuang/hangye-icon.png");
}
.nav li.hangye.nav-active .nav-icon {
  background-image: url("../assets/images/xianzhuang/hangye-active-icon.png");
}
.nav li.chanpin .nav-icon {
  background-image: url("../assets/images/xianzhuang/chanpin-icon.png");
}
.nav li.chanpin.nav-active .nav-icon {
  background-image: url("../assets/images/xianzhuang/chanpin-active-icon.png");
}
.nav li.chaxun .nav-icon {
  background-image: url("../assets/images/xianzhuang/shuju-icon.png");
}
.nav li.chaxun.nav-active .nav-icon {
  background-image: url("../assets/images/xianzhuang/shuju-active-icon.png");
}

#app .sys-header .header-right-top .text {
  flex-direction: column;
  align-items: flex-start;
}
#app .sys-header .header-right-top .text a {
  display: inline-block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 0.16rem;
}
#app .sys-header .header-right-top .text .icon-wrap {
  display: flex;
}
#app .sys-header .header-right-top .text .icon-wrap .iconfont {
  height: auto;
  line-height: normal;
  margin: 0;
  user-select: none;
  transition: all 0.2s linear;
  transform: scale(0.95);
}
#app .sys-header .header-right-top .text .icon-wrap .iconfont:hover {
  cursor: pointer;
  transform: scale(1.15);
}
#app .sys-header .header-right-top .text .icon-wrap .iconfont:first-child {
  margin-right: 10px;
}

[v-clock] {
  display: none;
}

/*# sourceMappingURL=index.css.map */
