/**
 * 通用
 */

// 滚动条美化
::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}
//凹槽颜色
::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px #00245A inset;
}
//滚动条
::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5) inset;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


// chart tooltip
.cx-tooltip {
  text-align: center;
  color: #fff;
  font-size: .16rem;
  background: url("../assets/images/xianzhuang/tooltip.png") no-repeat;
  background-size: 100% 100%;
  padding: 0 50px;
  height: 60px;
  line-height: 60px;
}

// select
.cx-select {
  position: relative;
  .cx-select-input {
    width: 1.06rem;
    height: 0.4rem;
    display: flex;
    align-items: center;
    background: #044B8C;
    box-shadow: 0 2px 0 0 #2FDEF4;
    border-radius: 4px;
    font-size: .2rem;
    padding-left: 0.19rem;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    .cx-select-suffix {
      transform: rotate(135deg) translateY(1px);
      font-size: 0.11rem;
      position: absolute;
      right: 0.2rem;
      color: #05dbde;
      transition: all .2s linear;
    }
  }
  .cx-option {
    position: absolute;
    top: 0.45rem;
    width: 1.06rem;
    background: rgba(3,66,126,0.86);
    border: 1px solid #1380AB;
    border-radius: 4px;
    display: none;
    li {
      height: 0.32rem;
      line-height: 0.32rem;
      padding-left: 0.19rem;
      transition: all .2s linear;
      &:hover {
        cursor: pointer;
        color: #11caff;
      }
      &.year-active {
        color: #11caff;
      }
    }
  }
  &.focus {
    .cx-select-suffix {
      transform: rotate(315deg) translateY(1px);
    }
  }
}

.collapse-item {
  position: relative;
  display: flex;
  align-items: center;
  &-btn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 0.12rem;
    user-select: none;
    .iconfont {
      display: inline-block;
      font-size: 0.12rem;
      transition: all .2s linear;
      transform: rotate(-180deg);
    }
    &:hover {
      cursor: pointer;
      color: #fbf014;
    }
    &.is-collapsed {
      .iconfont {
        transform: rotate(0)
      }
    }
  }
  &.in-right {
    .collapse-item-btn {
      .iconfont {
        transform: rotate(0);
      }
      &.is-collapsed {
        .iconfont {
          transform: rotate(-180deg);
        }
      }
    }
  }
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1999;
}
