/**
 * 技术产品
 */
$hoverColor: #efe526;
$activeColor: #d8d42f;
@mixin transition {
  transition: all .2s linear;
}
@mixin flex-align-center {
  display: flex;
  align-items: center;
}
@mixin bg($img) {
  background-image: $img;
  background-repeat: no-repeat;
  background-size: contain;
}
@mixin button-style {
  width: 1.34rem;
  height: 0.52rem;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 0.52rem;
  @include bg(url("../../assets/images/xianzhuang/right-btn.png"));
  &:hover {
    cursor: pointer;
  }
  &:first-child {
    margin-right: -0.35rem;
  }
}
@mixin button-active-style {
  background-image: url("../../assets/images/xianzhuang/left-btn-active.png");
}
@mixin zoom-in {
  background-position: center center;
  animation: zoomIn .2s linear forwards;
  @keyframes zoomIn {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
}
@mixin breathing($color: #FFF552) {
  color: $color;
  animation: breathing 1s linear infinite alternate-reverse;
  @keyframes breathing {
    0% {
      text-shadow: 0 0 0 $color,
      0 0 8px $color;
    }
    100% {
      text-shadow: 0 0 0 #fff
    }
  }
}

@mixin icon-title {
  position: absolute;
}
#app {
  width: 100%;
  height: 100%;
  background: url("../../assets/images/xianzhuang/bj.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  .sys-title {
    position: absolute;
    top: 0.16rem;
    left: 50%;
    transform: translateX(-52%);
    font-size: .34rem;
    font-weight: bold;
    color: #DAF9FF;
    text-align: center;
  }
  .sys-header {
    padding: .11rem .27rem .2rem .17rem;
    display: flex;
    .full-screen {
      height: .64rem;
      line-height: .64rem;
      margin-right: .26rem;
      @include transition;
      &:hover {
        cursor: pointer;
        color: $hoverColor;
      }
    }
    .home {
      display: flex;
      align-items: center;
      width: .9rem;
      height: .64rem;
      margin-right: .25rem;
      @include transition;
      &:hover {
        cursor: pointer;
        color: $hoverColor;
        .home-text {
          color: $hoverColor !important;
        }
      }
      &-icon {
        font-size: 0.28rem;
        margin-right: 0.09rem;
      }
      &-text {
        font-size: .2rem;
        color: #fff;
      }
    }
    .nav {
      flex: 1;
      overflow: hidden;
      display: flex;
      .sys-title-placeholder {
        width: 5.95rem;
      }
    }
    .nav-left,
    .nav-right {
      display: flex;
      flex: 1;
      li {
        flex: 1;
        height: .64rem;
        margin-right: .23rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include transition;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url("../../assets/images/xianzhuang/nav.png") no-repeat center center;
          background-size: 100% 100%;
        }
        &:hover {
          cursor: pointer;
          color: $hoverColor;
          &::before {
            @include zoom-in;
            background-image: url("../../assets/images/xianzhuang/nav-active.png");
          }
        }
        &.nav-active {
          color: $hoverColor;
          &::before {
            @include zoom-in;
            background-image: url("../../assets/images/xianzhuang/nav-active.png");
          }
        }
        .nav-icon {
          margin-bottom: 3px;
          width: 0.2rem;
          height: 0.18rem;
          background-repeat: no-repeat;
          background-size: contain;
        }
        .nav-name {
          text-align: center;
        }
      }
    }
    .header-right-line {
      width: .1rem;
      height: .65rem;
      background: url("../../assets/images/xianzhuang/area-split-line.png") no-repeat;
      background-size: contain;
      margin-right: .18rem;
    }
    .header-right {
      height: .64rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-top {
        display: flex;
        align-items: center;
        .avatar {
          width: 30px;
          height: 30px;
          border: 1px solid #01FAFE;
          border-radius: 50%;
          margin-right: 5px;
        }
        .text {
          font-size: .12rem;
          font-weight: bold;
          color: #ccc;
          display: flex;
          align-items: center;
          a {
            color: #fff;
          }
        }
      }
      &-bottom {
        font-size: .14rem;
        font-weight: bold;
        color: #01FAFE;
      }
    }
  }
  .container {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &-header {
      width: 100%;
      height: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.85rem;
      &-title {
        height: 0.5rem;
        display: flex;
        align-items: center;
        position: relative;
        span {
          font-size: 0.16rem;
          font-weight: bold;
          &:nth-child(2) {
            font-size: 0.3rem;
            margin-right: 0.17rem;
          }
          &:last-child {
            margin-top: 0.05rem;
          }
        }
        .back-btn {
          position: absolute;
          left: -50px;
          font-weight: bold;
          font-size: 0.2rem;
          width: 0.4rem;
          height: 0.35rem;
          line-height: 0.35rem;
          text-align: center;
          border: 2px solid #10c5fb;
          background: #05427d;
          border-radius: 4px;
          transition: all .2s linear;
          &:hover {
            cursor: pointer;
            background: #10579d;
          }
        }
      }
      &-category {
        display: flex;
        align-items: center;
        .category-item {
          width: 1.1rem;
          height: 0.4rem;
          line-height: 0.4rem;
          text-align: center;
          font-size: 0.16rem;
          font-weight: bold;
          @include bg(url('../../assets/images/xianzhuang/category-item.png'));
          background-size: 100% 100%;
          margin-right: 0.3rem;
          &:last-child {
            margin-right: 0;
          }
          &--active {
            @include bg(url('../../assets/images/xianzhuang/category-active.png'));
            background-size: 100% 100%;
          }
          &:hover {
            cursor: pointer;
            color: #d8d335;
          }
        }
      }
    }
    &-header-line {
      height: 15px;
      background: linear-gradient(0deg, rgba(4,96,205,0.99) 1%, rgba(9,99,229,0) 100%);
    }
    .detail {
      flex: 1;
      overflow-y: auto;
      padding: 0.4rem 0.85rem;
      .title {
        font-size: 0.28rem;
        font-weight: bold;
        padding: 0 0.4rem;
        margin-bottom: 0.2rem;
      }
      .publish {
        display: flex;
        font-size: 0.18rem;
        color: #10c5fb;
        padding: 0 0.4rem;
        font-weight: bold;
        margin-bottom: 0.15rem;
        &-unit {
          margin-right: 0.1rem;
        }
        &-time {
          margin-right: 0.1rem;
          color: #fff;
        }
        &-region {
          color: #fff;
        }
      }
      &-context {
        padding: 0 0.4rem;
        font-size: 16px;
        .sub-title {
          font-size: 0.3rem;
          font-weight: 600;
          margin-bottom: 0.15rem;
        }
        .text-bg {
          background: rgba(8,71,127,0.49);
          border: 1px solid #ddd;
          border-image: linear-gradient(90deg, #0F9DED, #B3E1FB, #129EED) 1 1;
          border-radius: 10px;
          padding: 28px 22px;
          margin-bottom: 45px;
        }
        .paragraph-title {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 20px;
        }
        .bold {
          font-weight: bold;
          margin-bottom: 20px;
          line-height: 30px;
        }
        .img-wrap {
          display: flex;
          img {
            flex: 1;
            margin-right: 30px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
.table-pagination .el-pagination__total {
  color: #fff;
}
