<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>城乡建设领域碳排放监测管理平台</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/elementUI.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/page/chanpin.css">
</head>
<body>
<div id="app">
    <div class="sys-title">城乡建设领域碳排放监测管理平台</div>

    <!-- header -->
    <div class="sys-header">
        <div class="full-screen iconfont" @click="fullScreenClick">&#xe607;</div>
        <div class="home" @click="handleHomeClick">
            <div class="home-icon iconfont">&#xe751;</div>
            <span class="home-text">首页</span>
        </div>
        <div class="nav">
            <ul class="nav-left">
                <li v-for="(item, index) in navLeft"
                    :class="[item.navName, item.active && 'nav-active']"
                    :key="index"
                    @click="handleNavClick(item)">
                    <div class="nav-icon"></div>
                    <div class="nav-name">{{ item.name }}</div>
                </li>
            </ul>
            <div class="sys-title-placeholder"></div>
            <ul class="nav-right">
                <li v-for="(item, index) in navRight" :class="[item.active && 'nav-active', item.navName]" :key="index" @click="handleNavClick(item)">
                    <div class="nav-icon"></div>
                    <div class="nav-name" v-if="item.name.length <= 4">{{ item.name }}</div>
                    <dl class="nav-name" v-else>
                        <dt>{{ item.name.substring(0, 4) }}</dt>
                        <dd>{{ item.name.substring(4) }}</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="header-right-line"></div>
        <div class="header-right">
            <div class="header-right-top">
                <img class="avatar"
                     src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png"/>
                <div class="text">
                    <span>欢迎您！</span>
                    <a>{{ userName }}</a>
                </div>
            </div>
            <div class="header-right-bottom">{{ dateTime }}</div>
        </div>
    </div>

    <!-- 系统内容部分 -->
    <div class="container">
        <div class="container-header">
            <div class="container-header-title">
                <span>{{ headerTitle }} /</span>
                <span>{{ headerTitleEN }}</span>
            </div>
            <div class="container-header-category">
                <div class="category-item"
                     :class="{ 'category-item--active': item.type === categoryActive }"
                     v-for="(item, index) in categories"
                     :key="index"
                     @click="handleCategoryClick(item)">{{ item.categoryName }}
                </div>
            </div>
        </div>
        <div class="container-header-line"></div>

        <!-- 系统分类 -->
        <div class="container-content">
            <div class="sys-category-wrap">
                <div class="sys-category" v-for="(item, index) in sysCategories" :key="index">
                    <div class="sys-category-label">{{ item.label }}:</div>
                    <div class="sys-category-content">
                        <div :class="getCategoryItemClass(item, category)"
                             v-for="(category, categoryIndex) in item.fixed"
                             :key="categoryIndex"
                             @click="handleSysCategoryClick(item, category)">{{ category.label }}
                        </div>
                        <div class="category-layout-wrap">
                            <div :class="getCategoryItemClass(item, category)"
                                 v-for="(category, categoryIndex) in item.categories"
                                 :key="categoryIndex"
                                 @click="handleSysCategoryClick(item, category)">{{ category.label }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 低碳技术 -->
            <div class="table-detail" v-if="categoryActive === 1">
                <div class="table-wrap">
                    <el-table
                        :data="tableData"
                        :row-class-name="getRowClassName"
                        @selection-change="handleSelectionChange"
                        height="100%"
                        style="width: 100%">
                        <el-table-column
                                type="selection"
                                width="55"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="buildingName"
                                label="建筑名称"
                                max-width="150"></el-table-column>
                        <el-table-column
                                prop="buildingArea"
                                label="建筑面积(㎡)"
                                sortable
                                max-width="130">
                        </el-table-column>
                        <el-table-column
                                prop="measure"
                                label="措施类别"
                                max-width="110"></el-table-column>
                        <el-table-column
                                prop="planTime"
                                label="计划完成时间"
                                max-width="130"
                                sortable></el-table-column>
                        <el-table-column
                                prop="measureDesc"
                                label="技术措施具体描述"
                                show-overflow-tooltip
                                min-width="200"></el-table-column>
                    </el-table>
                </div>
                <div class="table-pagination">
                    <el-pagination
                        :current-page.sync="page"
                        :page-size="pageSize"
                        :total="total"
                        background
                        layout="total, prev, pager, next">
                    </el-pagination>
                </div>
            </div>

            <!-- 低碳产品 -->
            <div class="table-detail" v-if="categoryActive === 2">
                <div class="table-wrap">
                    <el-table
                            :data="tableData"
                            :row-class-name="getRowClassName"
                            @selection-change="handleSelectionChange"
                            style="width: 100%"
                            height="100%">
                        <el-table-column
                            prop="category"
                            label="分类"
                            width="150"
                            align="center"></el-table-column>
                        <el-table-column
                            prop="region"
                            label="地区">
                        </el-table-column>
                        <el-table-column
                            prop="name"
                            label="产品名称"></el-table-column>
                        <el-table-column
                            prop="company"
                            label="厂家"></el-table-column>
                        <el-table-column
                            prop="value"
                            label="碳排放因子(tCO₂e/单位)"></el-table-column>
                    </el-table>
                </div>
                <div class="table-pagination">
                    <el-pagination
                        :current-page.sync="page"
                        :page-size="pageSize"
                        :total="total"
                        background
                        layout="total, prev, pager, next">
                    </el-pagination>
                </div>
            </div>

            <!-- 典型案例 -->
            <div class="classic-case" v-if="categoryActive === 3">
                <div class="classic-case-box">
                    <div class="classic-case-item" v-for="(item, index) in classicCaseDataListView" :key="index"
                         @click="handleCheckDetail(item)">
                        <div class="img-wrap">
                            <img :src="item.banner" />
                        </div>
                        <div class="item-info">
                            <div class="publish-item">{{ item.start_time_txt }}</div>
                            <div class="case-name">
                                <span>{{ item.title }}</span>
                            </div>
                            <div class="info-layout-wrap">
                                <div class="location">
                                    <span class="prefix-icon iconfont">&#xebba;</span>
                                    <span class="info-text">{{ item.province_text }}</span>
                                </div>
                                <div class="category">
                                    <span class="prefix-icon iconfont">&#xe643;</span>
                                    <span class="info-text">{{ item.cate_name }}</span>
                                </div>
                                <div class="status">
                                    <span class="prefix-icon iconfont">&#xe638;</span>
                                    <span class="info-text">{{ item.status_txt }}</span>
                                </div>
                            </div>
                            <div class="enter iconfont">&#xe615;</div>
                        </div>
                    </div>
                </div>
                <div class="table-pagination">
                    <el-pagination
                        :current-page.sync="page"
                        :page-size="pageSize"
                        :total="total"
                        background
                        layout="total, prev, pager, next">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/vue.min.js"></script>
<script src="../js/element.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/select.js"></script>
<script src="../js/moment.min.js"></script>
<script src="../js/province.js"></script>
<script src="../js/config.js"></script>
<script>
    const myApp = new Vue({
        el: "#app",
        data: {
            userName: "管理员",
            navList: [
                {
                    navName: "xianzhuang",
                    name: "现状",
                    location: 'xianzhuang.html',
                },
                {
                    navName: "yuce",
                    name: "预测",
                    location: 'yuce.html'
                },
                {
                    navName: "diaodu",
                    name: "调度",
                    location: 'diaodu.html'
                },
                {
                    navName: "kaoping",
                    name: "考评",
                    location: 'kaoping.html'
                },
                {
                    navName: "jianzhu",
                    name: "重点建筑监管",
                    location: "jianzhu.html"
                },
                {
                    navName: "hangye",
                    name: "重点行业监管",
                    location: "hangye.html"
                },
                {
                    navName: "chanpin",
                    name: "技术产品",
                    location: 'chanpin.html',
                    active: true
                },
                {
                    navName: "chaxun",
                    name: "数据查询",
                    location: 'data-query.html'
                }
            ],
            dateTime: moment(new Date()).format('YYYY/MM/DD HH:mm:ss'),
            dateTimer: null,
            headerTitle: "专题",
            headerTitleEN: "SPECIAL SUBJECT",
            categoryActive: 3,
            categories: [
                {
                    type: 1,
                    categoryName: "低碳技术"
                },
                {
                    type: 2,
                    categoryName: "低碳产品"
                },
                {
                    type: 3,
                    categoryName: "典型案例"
                }
            ],
            jzgn: "all",
            jsfl: "all",
            sydq: "all",
            // 产品种类
            cpzl: "all",
            // 地区分类
            dqfl: "all",
            tableData: [
                {
                    id: "1001",
                    buildingName: "新郑农商银行港区支行",
                    buildingArea: "2062",
                    measure: "其他",
                    planTime: "2019-09-12",
                    measureDesc: "在屋里布置太阳能光伏发电组件，采用多晶硅电池组件，在屋里布置太阳能光伏发电组件，采用多晶硅电"
                },
                {
                    id: "1002",
                    buildingName: "新郑农商银行港区支行",
                    buildingArea: "2062",
                    measure: "其他",
                    planTime: "2019-09-12",
                    measureDesc: "在屋里布置太阳能光伏发电组件，采用多晶硅电池组件，在屋里布置太阳能光伏发电组件，采用多晶硅电"
                },
                {
                    id: "1003",
                    buildingName: "新郑农商银行港区支行",
                    buildingArea: "2062",
                    measure: "其他",
                    planTime: "2019-09-12",
                    measureDesc: "在屋里布置太阳能光伏发电组件，采用多晶硅电池组件，在屋里布置太阳能光伏发电组件，采用多晶硅电"
                },
                {
                    id: "1004",
                    buildingName: "新郑农商银行港区支行",
                    buildingArea: "2062",
                    measure: "其他",
                    planTime: "2019-09-12",
                    measureDesc: "在屋里布置太阳能光伏发电组件，采用多晶硅电池组件，在屋里布置太阳能光伏发电组件，采用多晶硅电"
                },
                {
                    id: "1005",
                    buildingName: "新郑农商银行港区支行",
                    buildingArea: "2062",
                    measure: "其他",
                    planTime: "2019-09-12",
                    measureDesc: "在屋里布置太阳能光伏发电组件，采用多晶硅电池组件，在屋里布置太阳能光伏发电组件，采用多晶硅电"
                },
                {
                    id: "1006",
                    buildingName: "新郑农商银行港区支行",
                    buildingArea: "2062",
                    measure: "其他",
                    planTime: "2019-09-12",
                    measureDesc: "在屋里布置太阳能光伏发电组件，采用多晶硅电池组件，在屋里布置太阳能光伏发电组件，采用多晶硅电"
                },
                {
                    id: "1007",
                    buildingName: "新郑农商银行港区支行",
                    buildingArea: "2062",
                    measure: "其他",
                    planTime: "2019-09-12",
                    measureDesc: "在屋里布置太阳能光伏发电组件，采用多晶硅电池组件，在屋里布置太阳能光伏发电组件，采用多晶硅电"
                },
                {
                    id: "1008",
                    buildingName: "新郑农商银行港区支行",
                    buildingArea: "2062",
                    measure: "其他",
                    planTime: "2019-09-12",
                    measureDesc: "在屋里布置太阳能光伏发电组件，采用多晶硅电池组件，在屋里布置太阳能光伏发电组件，采用多晶硅电"
                }
            ],
            currentSelection: [],
            year: 'all',
            participate: 'all',
            status: 'all',
            province: 'all',
            classicCaseDataList: [],
            page: 1,
            pageSize: 6
        },
        methods: {
            getCurrentDateTime() {
                if (this.dateTimer) {
                    clearInterval(this.dateTimer)
                }
                this.dateTimer = setInterval(() => {
                    this.dateTime = moment(new Date()).format('YYYY/MM/DD HH:mm:ss')
                }, 1000)
            },

            handleNavClick(item) {
                window.location.href = item.location;
            },

            /**
             * 获取分类条目样式
             * @param category
             * @param subCategory
             * @returns {string}
             */
            getCategoryItemClass(category, subCategory) {
                return this[category.field] === subCategory.value
                    ? `category-item category-item--active`
                    : `category-item`
            },

            /**
             * 切换系统分类
             * @param category
             * @param subCategory
             */
            handleSysCategoryClick(category, subCategory) {
                this[category.field] = subCategory.value;
                this.page = 1;
                this.fetchProductData();
            },

            getRowClassName({row}) {
                if (this.selectionIdList.includes(row.id)) {
                    return `row-selected`
                }
            },

            handleSelectionChange(selection) {
                this.currentSelection = selection;
            },

            handleCategoryClick(category) {
                this.categoryActive = category.type
                if (category.type === 1) {
                    this.tableData = [
                        {
                            id: "1001",
                            buildingName: "新郑农商银行港区支行",
                            buildingArea: "2062",
                            measure: "其他",
                            planTime: "2019-09-12",
                            measureDesc: "在屋里布置太阳能光伏发电组件，采用多晶硅电池组件，在屋里布置太阳能光伏发电组件，采用多晶硅电"
                        },
                        {
                            id: "1002",
                            buildingName: "新郑农商银行港区支行",
                            buildingArea: "2062",
                            measure: "其他",
                            planTime: "2019-09-12",
                            measureDesc: "在屋里布置太阳能光伏发电组件，采用多晶硅电池组件，在屋里布置太阳能光伏发电组件，采用多晶硅电"
                        },
                        {
                            id: "1003",
                            buildingName: "新郑农商银行港区支行",
                            buildingArea: "2062",
                            measure: "其他",
                            planTime: "2019-09-12",
                            measureDesc: "在屋里布置太阳能光伏发电组件，采用多晶硅电池组件，在屋里布置太阳能光伏发电组件，采用多晶硅电"
                        },
                        {
                            id: "1004",
                            buildingName: "新郑农商银行港区支行",
                            buildingArea: "2062",
                            measure: "其他",
                            planTime: "2019-09-12",
                            measureDesc: "在屋里布置太阳能光伏发电组件，采用多晶硅电池组件，在屋里布置太阳能光伏发电组件，采用多晶硅电"
                        },
                        {
                            id: "1005",
                            buildingName: "新郑农商银行港区支行",
                            buildingArea: "2062",
                            measure: "其他",
                            planTime: "2019-09-12",
                            measureDesc: "在屋里布置太阳能光伏发电组件，采用多晶硅电池组件，在屋里布置太阳能光伏发电组件，采用多晶硅电"
                        },
                        {
                            id: "1006",
                            buildingName: "新郑农商银行港区支行",
                            buildingArea: "2062",
                            measure: "其他",
                            planTime: "2019-09-12",
                            measureDesc: "在屋里布置太阳能光伏发电组件，采用多晶硅电池组件，在屋里布置太阳能光伏发电组件，采用多晶硅电"
                        },
                        {
                            id: "1007",
                            buildingName: "新郑农商银行港区支行",
                            buildingArea: "2062",
                            measure: "其他",
                            planTime: "2019-09-12",
                            measureDesc: "在屋里布置太阳能光伏发电组件，采用多晶硅电池组件，在屋里布置太阳能光伏发电组件，采用多晶硅电"
                        },
                        {
                            id: "1008",
                            buildingName: "新郑农商银行港区支行",
                            buildingArea: "2062",
                            measure: "其他",
                            planTime: "2019-09-12",
                            measureDesc: "在屋里布置太阳能光伏发电组件，采用多晶硅电池组件，在屋里布置太阳能光伏发电组件，采用多晶硅电"
                        }
                    ]
                } else if (category.type === 2) {
                    this.tableData = [
                        {
                            category: "混凝土",
                            region: "湖南",
                            name: "混凝土C35",
                            company: "湖州南浔圣船混凝土有限公司",
                            value: 0.363
                        },
                        {
                            category: "混凝土",
                            region: "重庆",
                            name: "混凝土C40",
                            company: "重庆华筑混凝土有限公司",
                            value: 0.41
                        },
                        {
                            category: "混凝土",
                            region: "湖南",
                            name: "混凝土C45",
                            company: "湖南鸿基伟业混凝土有限公司",
                            value: 0.441
                        },
                        {
                            category: "混凝土",
                            region: "内蒙古",
                            name: "混凝土C50",
                            company: "内蒙古博嘉建材有限公司",
                            value: 0.464
                        },
                        {
                            category: "砂浆",
                            region: "重庆",
                            name: "砌筑水泥砂浆M5",
                            company: "重庆盈龙祥混凝土有限公司",
                            value: 0.165
                        },
                        {
                            category: "砂浆",
                            region: "重庆",
                            name: "砌筑水泥砂浆M7.5",
                            company: "重庆富沛新型建材有限公司",
                            value: 0.181
                        },
                        {
                            category: "砂浆",
                            region: "贵州",
                            name: "砌筑水泥砂浆M10",
                            company: "贵州开莱绿色建筑材料有限公司",
                            value: 0.2
                        },
                        {
                            category: "砂浆",
                            region: "贵州",
                            name: "砌筑水泥砂浆M15",
                            company: "贵州开迪绿色建筑材料有限公司",
                            value: 0.232
                        },
                        {
                            category: "砂浆",
                            region: "福建",
                            name: "抹灰水泥砂浆1:2",
                            company: "厦门中永翔建材有限责任公司",
                            value: 0.405
                        },
                        {
                            category: "砂浆",
                            region: "广东",
                            name: "抹灰水泥砂浆1:3",
                            company: "汕头市润都混凝土有限公司",
                            value: 0.277
                        },
                        {
                            category: "砂浆",
                            region: "安徽",
                            name: "抹灰混合砂浆1:1:6",
                            company: "萧县步强新型建材科技有限公司",
                            value: 0.285
                        },
                        {
                            category: "砂浆",
                            region: "四川",
                            name: "抹灰石灰砂浆1:2.5",
                            company: "四川统揽建设集团有限公司",
                            value: 0.342
                        }
                    ]
                }
            },

            handleCheckDetail(item) {
                window.location = `chanpin-detail.html?id=${item.id}`
            },

            fullScreenClick() {
                const isFullScreen = () => {
                    return !! (
                        document.fullscreen ||
                        document.mozFullScreen ||
                        document.webkitIsFullScreen ||
                        document.webkitFullScreen ||
                        document.msFullScreen
                    );
                }
                const de = document.documentElement;
                if (!isFullScreen()) {
                    if (de.requestFullscreen) {
                        de.requestFullscreen();
                    } else if (de.mozRequestFullScreen) {
                        de.mozRequestFullScreen();
                    } else if (de.webkitRequestFullScreen) {
                        de.webkitRequestFullScreen();
                    }
                } else {
                    if(document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if(document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if(document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    }
                }
            },

            handleHomeClick() {
                window.location.href = 'index.html'
            },

            fetchProductData() {
                const loading = this.$loading({
                    text: "数据加载中...",
                    background: 'rgba(0, 0, 0, 0.25)'
                });
                const that = this;
                $.get(`${severUrl}/Newxz/chanpin`, {
                    year: this.year === "all" ? "" : this.year,
                    join_type: this.participate === 'all' ? "" : this.participate,
                    status: this.status === 'all' ? "" : this.status,
                    region: this.province === 'all' ? "" : this.province,
                }, function(data) {
                    that.classicCaseDataList = data;
                })
                loading.close();
            }
        },
        computed: {
            navLeft() {
                return this.navList.slice(0, 4)
            },
            navRight() {
                return this.navList.slice(4)
            },
            selectionIdList() {
                return this.currentSelection.map(item => item.id)
            },
            provinceData() {
                return provinceData
            },
            sysCategories() {
                const provinceData = this.provinceData.map(item => {
                    return {
                        label: item,
                        value: item
                    }
                })
                switch (this.categoryActive) {
                    case 1:
                        return [
                            {
                                label: "建筑功能",
                                field: "jzgn",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "办公建筑", value: "1"},
                                    {label: "商场建筑", value: "2"},
                                    {label: "宾馆饭店", value: "3"},
                                    {label: "文化建筑", value: "4"},
                                    {label: "医疗卫生", value: "5"},
                                    {label: "体育建筑", value: "6"},
                                    {label: "综合建筑", value: "7"},
                                    {label: "教育建筑", value: "8"},
                                    {label: "其他", value: "9"}
                                ]
                            },
                            {
                                label: "技术分类",
                                field: "jsfl",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "采暖通风", value: "1"},
                                    {label: "空调系统", value: "2"},
                                    {label: "生活热水系统", value: "3"},
                                    {label: "配供电系统", value: "4"},
                                    {label: "照明插座系统", value: "5"},
                                    {label: "监测与控制系统", value: "6"}
                                ]
                            },
                            {
                                label: "使用地区",
                                field: "sydq",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "严寒", value: "1"},
                                    {label: "寒冷", value: "2"},
                                    {label: "夏热冬冷", value: "3"},
                                    {label: "温和", value: "4"},
                                    {label: "夏热冬暖", value: "5"}
                                ]
                            }
                        ]
                    case 2:
                        return [
                            {
                                label: "产品种类",
                                field: "cpzl",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "混凝土", value: "1"},
                                    {label: "水泥及胶凝材料", value: "2"},
                                    {label: "砂浆", value: "3"},
                                    {label: "石灰", value: "4"},
                                    {label: "石膏", value: "5"},
                                    {label: "砌体", value: "6"},
                                    {label: "钢金属", value: "7"},
                                    {label: "其他金属", value: "8"},
                                    {label: "建筑门窗", value: "9"},
                                    {label: "建筑玻璃", value: "10"},
                                    {label: "建筑涂料", value: "11"},
                                    {label: "陶瓷制品", value: "12"},
                                    {label: "木质材料", value: "13"},
                                    {label: "保温材料", value: "14"},
                                    {label: "防水卷材", value: "15"},
                                    {label: "塑料给水管", value: "16"},
                                    {label: "导线", value: "17"},
                                    {label: "其他", value: "18"}
                                ]
                            },
                            {
                                label: "地区分类",
                                field: "province",
                                fixed: [{label: "全部", value: "all"}],
                                categories: provinceData
                            }
                        ]
                    case 3:
                        return [
                            {
                                label: "年份",
                                field: "year",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "2019年", value: "2019"},
                                    {label: "2020年", value: "2020"},
                                    {label: "2021年", value: "2021"},
                                    {label: "2022年", value: "2022"},
                                    {label: "2023年", value: "2023"}
                                ]
                            },
                            {
                                label: "省份",
                                field: "province",
                                fixed: [{label: "全部", value: "all"}],
                                categories: provinceData
                            }
                        ]
                }
            },
            total() {
                return this.classicCaseDataList.length;
            },
            classicCaseDataListView() {
                return this.classicCaseDataList.slice((this.page - 1) * this.pageSize, (this.page - 1) * this.pageSize + this.pageSize);
            }
        },
        mounted() {
            this.getCurrentDateTime();
            this.fetchProductData();
        }
    })
</script>
</body>
</html>
