<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>城乡建设领域碳排放监测管理平台</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/elementUI.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/page/chanpin-detail.css">
</head>
<body>
<div id="app">
    <div class="sys-title">城乡建设领域碳排放监测管理平台</div>

    <!-- header -->
    <div class="sys-header">
        <div class="full-screen iconfont" @click="fullScreenClick">&#xe607;</div>
        <div class="home" @click="handleHomeClick">
            <div class="home-icon iconfont">&#xe751;</div>
            <span class="home-text">首页</span>
        </div>
        <div class="nav">
            <ul class="nav-left">
                <li v-for="(item, index) in navLeft" :class="{ 'nav-active': item.active }" :key="index"
                    @click="handleNavClick(item)">
                    <div class="nav-icon"
                         :style="{ 'background-image': `url(${item.iconPath})`, '--bgActive': `url(${item.iconPathActive})` }"></div>
                    <div class="nav-name">{{ item.name }}</div>
                </li>
            </ul>
            <div class="sys-title-placeholder"></div>
            <ul class="nav-right">
                <li v-for="(item, index) in navRight" :class="{ 'nav-active': item.active }" :key="index"
                    @click="handleNavClick(item)">
                    <div class="nav-icon"
                         :style="{ 'background-image': `url(${item.iconPath})`, '--bgActive': `url(${item.iconPathActive})` }"></div>
                    <div class="nav-name" v-if="item.name.length <= 4">{{ item.name }}</div>
                    <dl class="nav-name" v-else>
                        <dt>{{ item.name.substring(0, 4) }}</dt>
                        <dd>{{ item.name.substring(4) }}</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="header-right-line"></div>
        <div class="header-right">
            <div class="header-right-top">
                <img class="avatar"
                     src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png"/>
                <div class="text">
                    <span>欢迎您！</span>
                    <a>{{ userName }}</a>
                </div>
            </div>
            <div class="header-right-bottom">{{ dateTime }}</div>
        </div>
    </div>

    <!-- 系统内容部分 -->
    <div class="container">
        <div class="container-header">
            <div class="container-header-title">
                <span>{{ headerTitle }} /</span>
                <span>{{ headerTitleEN }}</span>
            </div>
            <div class="container-header-category">
                <div class="category-item"
                     :class="{ 'category-item--active': item.type === categoryActive }"
                     v-for="(item, index) in categories"
                     :key="index"
                     @click="handleCategoryClick(item)">{{ item.categoryName }}
                </div>
            </div>
        </div>
        <div class="container-header-line"></div>
        <div class="detail">
            <div class="title">{{ title }}</div>
            <div class="publish">
                <div class="publish-unit">{{ publishUnit }}</div>
                <span class="publish-time">{{ publishTime }}</span>
                <span class="publish-region">发布于{{ publishRegion }}</span>
            </div>
            <div class="detail-context">
                <p class="sub-title">北京大兴国际机场——节能低碳技术（交通场站类）示范子项目</p>
                <p class="text-bg bold">
                    “中国公共建筑能效提升项目”是由住房和城乡建设部与联合国计划开发署(UNDP)联合实施的全球环境基金（GEF）赠款项目，以进一步完善中国公共建筑领域节能低碳政策与标准，促进高效节能低碳技术的应用，提高公共建筑整体能效水平。项目执行期为2018年10月至2022年10月。项目目标为累计减排5.57万吨二氧化碳，将温室气体排放年增长率由1.8%降至0.6%，并带动全国累计节约化石燃料6523万吨标煤，在中国公共建筑节能领域创造3600个工作岗位。项目从完善公共建筑能效政策制度框架、能效监测和评价机制建设、技术和融资机制示范与推广、能力建设和意识提升四个方面开展活动。项目实施了一系列技术示范子项目和市场化融资机制示范子项目，以推广节能低碳技术，促进创新型市场化融资机制的应用。本专题将分别介绍各示范子项目的示范情况和示范亮点。
                </p>
                <div>
                    <div class="paragraph-title">一、示范子项目简介</div>
                    <p class="bold">
                        2020年9月，北京大兴国际机场确定为“中国公共建筑能效提升项目”节能低碳技术（交通场站类）示范子项目，通过开展对绿建设计中提出的多项节能示范技术实际运行情况的评估和调适，在实现每年5500吨二氧化碳减排的同时促进了地源热泵、飞机地面空调系统、智能照明、光伏发电等技术的推广。</p>
                </div>
                <div class="img-wrap">
                    <img src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png"
                         alt="">
                    <img src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png"
                         alt="">
                    <img src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png"
                         alt="">
                    <img src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png"
                         alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/vue.min.js"></script>
<script src="../js/element.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/select.js"></script>
<script src="../js/moment.min.js"></script>
<script src="../js/province.js"></script>
<script src="../js/config.js"></script>
<script>
    const myApp = new Vue({
        el: "#app",
        data: {
            userName: "管理员",
            navList: [
                {
                    iconPath: "../../assets/images/xianzhuang/xianzhuang-icon.png",
                    iconPathActive: "../../assets/images/xianzhuang/xianzhuang-active-icon.png",
                    name: "现状",
                    location: 'xianzhuang.html'
                },
                {
                    iconPath: "../../assets/images/xianzhuang/yuce-icon.png",
                    iconPathActive: "../../assets/images/xianzhuang/yuce-active-icon.png",
                    name: "预测",
                    location: 'yuce.html'
                },
                {
                    iconPath: "../../assets/images/xianzhuang/diaodu-icon.png",
                    iconPathActive: "../../assets/images/xianzhuang/diaodu-active-icon.png",
                    name: "调度",
                    location: 'diaodu.html'
                },
                {
                    iconPath: "../../assets/images/xianzhuang/kaoping-icon.png",
                    iconPathActive: "../../assets/images/xianzhuang/kaoping-active-icon.png",
                    name: "考评",
                    location: 'kaoping.html'
                },
                {
                    iconPath: "../../assets/images/xianzhuang/jianzhu-icon.png",
                    iconPathActive: "../../assets/images/xianzhuang/jianzhu-active-icon.png",
                    name: "重点建筑监管"
                },
                {
                    iconPath: "../../assets/images/xianzhuang/hangye-icon.png",
                    iconPathActive: "../../assets/images/xianzhuang/hangye-active-icon.png",
                    name: "重点行业监管"
                },
                {
                    iconPath: "../../assets/images/xianzhuang/chanpin-icon.png",
                    iconPathActive: "../../assets/images/xianzhuang/chanpin-active-icon.png",
                    name: "技术产品",
                    location: 'chanpin.html',
                    active: true
                },
                {
                    iconPath: "../../assets/images/xianzhuang/shuju-icon.png",
                    iconPathActive: "../../assets/images/xianzhuang/shuju-active-icon.png",
                    name: "数据查询",
                    location: 'data-query.html'
                }
            ],
            dateTime: moment(new Date()).format('YYYY/MM/DD HH:mm:ss'),
            dateTimer: null,
            headerTitle: "专题",
            headerTitleEN: "SPECIAL SUBJECT",
            categoryActive: 3,
            categories: [
                {
                    type: 1,
                    categoryName: "低碳技术"
                },
                {
                    type: 2,
                    categoryName: "低碳产品"
                },
                {
                    type: 3,
                    categoryName: "典型案例"
                }
            ],
            title: "北京大兴国际机场 | 全球环境基金（GEF）“中国公共建筑能效提升项目”示范子项目系列之 一",
            publishUnit: "住房城乡建设部科技与产业化中心",
            publishTime: "2020-12-30 16:30",
            publishRegion: "北京"
        },
        methods: {
            getCurrentDateTime() {
                if (this.dateTimer) {
                    clearInterval(this.dateTimer)
                }
                this.dateTimer = setInterval(() => {
                    this.dateTime = moment(new Date()).format('YYYY/MM/DD HH:mm:ss')
                }, 1000)
            },

            handleNavClick(item) {
                window.location.href = item.location;
            },

            /**
             * 获取分类条目样式
             * @param category
             * @param subCategory
             * @returns {string}
             */
            getCategoryItemClass(category, subCategory) {
                return this[category.field] === subCategory.value
                    ? `category-item category-item--active`
                    : `category-item`
            },

            /**
             * 切换系统分类
             * @param category
             * @param subCategory
             */
            handleSysCategoryClick(category, subCategory) {
                this[category.field] = subCategory.value;
            },

            getRowClassName({row}) {
                if (this.selectionIdList.includes(row.id)) {
                    return `row-selected`
                }
            },

            handleSelectionChange(selection) {
                this.currentSelection = selection;
            },

            handleCategoryClick(category) {
                this.categoryActive = category.type
            },

            fullScreenClick() {
                const isFullScreen = () => {
                    return !! (
                        document.fullscreen ||
                        document.mozFullScreen ||
                        document.webkitIsFullScreen ||
                        document.webkitFullScreen ||
                        document.msFullScreen
                    );
                }
                const de = document.documentElement;
                if (!isFullScreen()) {
                    if (de.requestFullscreen) {
                        de.requestFullscreen();
                    } else if (de.mozRequestFullScreen) {
                        de.mozRequestFullScreen();
                    } else if (de.webkitRequestFullScreen) {
                        de.webkitRequestFullScreen();
                    }
                } else {
                    if(document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if(document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if(document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    }
                }
            },

            handleHomeClick() {
                window.location.href = 'index.html'
            }
        },
        computed: {
            navLeft() {
                return this.navList.slice(0, 4)
            },
            navRight() {
                return this.navList.slice(4)
            },
            selectionIdList() {
                return this.currentSelection.map(item => item.id)
            },
            provinceData() {
                return provinceData
            },
            sysCategories() {
                switch (this.categoryActive) {
                    case 1:
                        return [
                            {
                                label: "建筑功能",
                                field: "jzgn",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "办公建筑", value: "1"},
                                    {label: "商场建筑", value: "2"},
                                    {label: "宾馆饭店", value: "3"},
                                    {label: "文化建筑", value: "4"},
                                    {label: "医疗卫生", value: "5"},
                                    {label: "体育建筑", value: "6"},
                                    {label: "综合建筑", value: "7"},
                                    {label: "教育建筑", value: "8"},
                                    {label: "其他", value: "9"}
                                ]
                            },
                            {
                                label: "技术分类",
                                field: "jsfl",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "采暖通风", value: "1"},
                                    {label: "空调系统", value: "2"},
                                    {label: "生活热水系统", value: "3"},
                                    {label: "配供电系统", value: "4"},
                                    {label: "照明插座系统", value: "5"},
                                    {label: "监测与控制系统", value: "6"}
                                ]
                            },
                            {
                                label: "使用地区",
                                field: "sydq",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "严寒", value: "1"},
                                    {label: "寒冷", value: "2"},
                                    {label: "夏热冬冷", value: "3"},
                                    {label: "温和", value: "4"},
                                    {label: "夏热冬暖", value: "5"}
                                ]
                            }
                        ]
                    case 2:
                        return [
                            {
                                label: "建筑功能",
                                field: "jzgn",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "办公建筑", value: "1"},
                                    {label: "商场建筑", value: "2"},
                                    {label: "宾馆饭店", value: "3"},
                                    {label: "文化建筑", value: "4"},
                                    {label: "医疗卫生", value: "5"},
                                    {label: "体育建筑", value: "6"},
                                    {label: "综合建筑", value: "7"},
                                    {label: "教育建筑", value: "8"},
                                    {label: "其他", value: "9"}
                                ]
                            },
                            {
                                label: "技术分类",
                                field: "jsfl",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "采暖通风", value: "1"},
                                    {label: "空调系统", value: "2"},
                                    {label: "生活热水系统", value: "3"},
                                    {label: "配供电系统", value: "4"},
                                    {label: "照明插座系统", value: "5"},
                                    {label: "监测与控制系统", value: "6"}
                                ]
                            },
                            {
                                label: "使用地区",
                                field: "sydq",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "严寒", value: "1"},
                                    {label: "寒冷", value: "2"},
                                    {label: "夏热冬冷", value: "3"},
                                    {label: "温和", value: "4"},
                                    {label: "夏热冬暖", value: "5"}
                                ]
                            }
                        ]
                    case 3:
                        const provinceData = this.provinceData.map(item => {
                            return {
                                label: item,
                                value: item
                            }
                        })
                        return [
                            {
                                label: "年份",
                                field: "year",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "2023年", value: "2023"},
                                    {label: "2022年", value: "2022"},
                                    {label: "2021年", value: "2021"}
                                ]
                            },
                            {
                                label: "参与方式",
                                field: "participate",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "线上参与", value: "1"},
                                    {label: "线下参与", value: "2"}
                                ]
                            },
                            {
                                label: "状态",
                                field: "status",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "已结束", value: "1"},
                                    {label: "未开始", value: "2"}
                                ]
                            },
                            {
                                label: "省份",
                                field: "province",
                                fixed: [{label: "全部", value: "all"}],
                                categories: provinceData
                            }
                        ]
                }
            }
        },
        mounted() {
            this.getCurrentDateTime();
        }
    })
</script>
</body>
</html>
