<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>城乡建设领域碳排放监测管理平台</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/elementUI.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/page/chanpin-detail.css">
</head>
<body>
<div id="app">
    <div class="sys-title">城乡建设领域碳排放监测管理平台</div>

    <!-- header -->
    <div class="sys-header">
        <div class="home" @click="handleHomeClick">
            <div class="home-icon iconfont">&#xe751;</div>
            <span class="home-text">首页</span>
        </div>
        <div class="nav">
            <ul class="nav-left">
                <li v-for="(item, index) in navLeft"
                    :class="[item.navName, item.active && 'nav-active']"
                    :key="index"
                    @click="handleNavClick(item)">
                    <div class="nav-icon"></div>
                    <div class="nav-name">{{ item.name }}</div>
                </li>
            </ul>
            <div class="sys-title-placeholder"></div>
            <ul class="nav-right">
                <li v-for="(item, index) in navRight" :class="[item.active && 'nav-active', item.navName]" :key="index" @click="handleNavClick(item)">
                    <div class="nav-icon"></div>
                    <div class="nav-name" v-if="item.name.length <= 4">{{ item.name }}</div>
                    <dl class="nav-name" v-else>
                        <dt>{{ item.name.substring(0, 4) }}</dt>
                        <dd>{{ item.name.substring(4) }}</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="header-right-line"></div>
        <div class="header-right">
            <div class="header-right-top">
                <img class="avatar" src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png" />
                <div class="text">
                    <a>{{ userName }}</a>
                    <div class="icon-wrap">
                        <div class="iconfont" title="全屏" @click="fullScreenClick">&#xe607;</div>
                        <div class="iconfont" title="模型" @click="modelClick">&#xe667;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 系统内容部分 -->
    <div class="container">
        <div class="container-header">
            <div class="container-header-title">
                <div class="back-btn iconfont" title="返回" @click="handleBackClick">&#xe6ff;</div>
                <span>{{ headerTitle }} /</span>
                <span>{{ headerTitleEN }}</span>
            </div>
            <div class="container-header-category">
                <div class="category-item"
                     :class="{ 'category-item--active': item.type === categoryActive }"
                     v-for="(item, index) in categories"
                     :key="index"
                     @click="handleCategoryClick(item)">{{ item.categoryName }}
                </div>
            </div>
        </div>
        <div class="container-header-line"></div>
        <div class="detail">
            <div class="title">{{ detailData.title }}</div>
            <div class="publish">
                <div class="publish-unit">{{ detailData.company_name }}</div>
                <span class="publish-time">{{ detailData.start_time_txt }}</span>
            </div>
            <div class="detail-context">
                <p class="text-bg bold" style="text-indent: 0.28rem;">
                    {{ detailData.decription }}
                </p>
                <div v-html="detailData.intro" style="font-size: 0.2rem;text-indent: 0.28rem;line-height: 30px;"></div>
                <div v-html="detailData.expect" style="font-size: 0.2rem;text-indent: 0.28rem;line-height: 30px;"></div>
            </div>
        </div>
    </div>
</div>

<script src="../js/vue.min.js"></script>
<script src="../js/element.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/select.js"></script>
<script src="../js/moment.min.js"></script>
<script src="../js/province.js"></script>
<script src="../js/config.js"></script>
<script>
    const myApp = new Vue({
        el: "#app",
        data: {
            userName: "管理员",
            navList: [
                {
                    navName: "xianzhuang",
                    name: "现状",
                    location: 'xianzhuang.html',
                },
                {
                    navName: "yuce",
                    name: "预测",
                    location: 'yuce.html'
                },
                {
                    navName: "diaodu",
                    name: "调度",
                    location: 'diaodu.html'
                },
                {
                    navName: "kaoping",
                    name: "评价",
                    location: 'kaoping.html'
                },
                {
                    navName: "jianzhu",
                    name: "重点建筑监管",
                    location: "jianzhu.html"
                },
                {
                    navName: "hangye",
                    name: "重点行业监管",
                    location: "hangye.html"
                },
                {
                    navName: "chanpin",
                    name: "技术产品",
                    location: 'chanpin.html',
                    active: true
                },
                {
                    navName: "chaxun",
                    name: "数据查询",
                    location: 'data-query.html'
                }
            ],
            headerTitle: "专题",
            headerTitleEN: "SPECIAL SUBJECT",
            categoryActive: 3,
            categories: [
                {
                    type: 1,
                    categoryName: "低碳技术"
                },
                {
                    type: 2,
                    categoryName: "低碳产品"
                },
                {
                    type: 3,
                    categoryName: "典型案例"
                }
            ],
            title: "北京大兴国际机场 | 全球环境基金（GEF）“中国公共建筑能效提升项目”示范子项目系列之 一",
            publishUnit: "住房城乡建设部科技与产业化中心",
            publishTime: "2020-12-30 16:30",
            publishRegion: "北京",
            detailData: {}
        },
        methods: {
            handleNavClick(item) {
                window.location.href = item.location;
            },

            /**
             * 获取分类条目样式
             * @param category
             * @param subCategory
             * @returns {string}
             */
            getCategoryItemClass(category, subCategory) {
                return this[category.field] === subCategory.value
                    ? `category-item category-item--active`
                    : `category-item`
            },

            /**
             * 切换系统分类
             * @param category
             * @param subCategory
             */
            handleSysCategoryClick(category, subCategory) {
                this[category.field] = subCategory.value;
            },

            getRowClassName({row}) {
                if (this.selectionIdList.includes(row.id)) {
                    return `row-selected`
                }
            },

            handleSelectionChange(selection) {
                this.currentSelection = selection;
            },

            handleCategoryClick(category) {
                this.categoryActive = category.type
            },

            fullScreenClick() {
                const isFullScreen = () => {
                    return !! (
                        document.fullscreen ||
                        document.mozFullScreen ||
                        document.webkitIsFullScreen ||
                        document.webkitFullScreen ||
                        document.msFullScreen
                    );
                }
                const de = document.documentElement;
                if (!isFullScreen()) {
                    if (de.requestFullscreen) {
                        de.requestFullscreen();
                    } else if (de.mozRequestFullScreen) {
                        de.mozRequestFullScreen();
                    } else if (de.webkitRequestFullScreen) {
                        de.webkitRequestFullScreen();
                    }
                } else {
                    if(document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if(document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if(document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    }
                }
            },

            handleHomeClick() {
                window.location.href = 'index.html'
            },

            fetchProductData() {
                const loading = this.$loading({
                    text: "数据加载中...",
                    background: 'rgba(0, 0, 0, 0.25)'
                });
                const that = this;
                $.get(`${severUrl}/Newxz/chanpin`, {
                    year: this.year === "all" ? "" : this.year,
                    join_type: this.participate === 'all' ? "" : this.participate,
                    status: this.status === 'all' ? "" : this.status,
                    region: this.province === 'all' ? "" : this.province,
                }, function(data) {
                    const query = window.location.search
                    const id = query.substring(query.indexOf('id=') + 3)
                    that.detailData = data.find(item => item.id.toString() === id)
                })
                loading.close();
            },

            handleBackClick() {
                window.location.href = 'chanpin.html';
            },

            modelClick() {
                window.open('model.html')
            }
        },
        computed: {
            navLeft() {
                return this.navList.slice(0, 4)
            },
            navRight() {
                return this.navList.slice(4)
            },
            selectionIdList() {
                return this.currentSelection.map(item => item.id)
            },
            provinceData() {
                return provinceData
            },
            sysCategories() {
                switch (this.categoryActive) {
                    case 1:
                        return [
                            {
                                label: "建筑功能",
                                field: "jzgn",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "办公建筑", value: "1"},
                                    {label: "商场建筑", value: "2"},
                                    {label: "宾馆饭店", value: "3"},
                                    {label: "文化建筑", value: "4"},
                                    {label: "医疗卫生", value: "5"},
                                    {label: "体育建筑", value: "6"},
                                    {label: "综合建筑", value: "7"},
                                    {label: "教育建筑", value: "8"},
                                    {label: "其他", value: "9"}
                                ]
                            },
                            {
                                label: "技术分类",
                                field: "jsfl",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "采暖通风", value: "1"},
                                    {label: "空调系统", value: "2"},
                                    {label: "生活热水系统", value: "3"},
                                    {label: "配供电系统", value: "4"},
                                    {label: "照明插座系统", value: "5"},
                                    {label: "监测与控制系统", value: "6"}
                                ]
                            },
                            {
                                label: "使用地区",
                                field: "sydq",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "严寒", value: "1"},
                                    {label: "寒冷", value: "2"},
                                    {label: "夏热冬冷", value: "3"},
                                    {label: "温和", value: "4"},
                                    {label: "夏热冬暖", value: "5"}
                                ]
                            }
                        ]
                    case 2:
                        return [
                            {
                                label: "建筑功能",
                                field: "jzgn",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "办公建筑", value: "1"},
                                    {label: "商场建筑", value: "2"},
                                    {label: "宾馆饭店", value: "3"},
                                    {label: "文化建筑", value: "4"},
                                    {label: "医疗卫生", value: "5"},
                                    {label: "体育建筑", value: "6"},
                                    {label: "综合建筑", value: "7"},
                                    {label: "教育建筑", value: "8"},
                                    {label: "其他", value: "9"}
                                ]
                            },
                            {
                                label: "技术分类",
                                field: "jsfl",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "采暖通风", value: "1"},
                                    {label: "空调系统", value: "2"},
                                    {label: "生活热水系统", value: "3"},
                                    {label: "配供电系统", value: "4"},
                                    {label: "照明插座系统", value: "5"},
                                    {label: "监测与控制系统", value: "6"}
                                ]
                            },
                            {
                                label: "使用地区",
                                field: "sydq",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "严寒", value: "1"},
                                    {label: "寒冷", value: "2"},
                                    {label: "夏热冬冷", value: "3"},
                                    {label: "温和", value: "4"},
                                    {label: "夏热冬暖", value: "5"}
                                ]
                            }
                        ]
                    case 3:
                        const provinceData = this.provinceData.map(item => {
                            return {
                                label: item,
                                value: item
                            }
                        })
                        return [
                            {
                                label: "年份",
                                field: "year",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "2023年", value: "2023"},
                                    {label: "2022年", value: "2022"},
                                    {label: "2021年", value: "2021"}
                                ]
                            },
                            {
                                label: "参与方式",
                                field: "participate",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "线上参与", value: "1"},
                                    {label: "线下参与", value: "2"}
                                ]
                            },
                            {
                                label: "状态",
                                field: "status",
                                fixed: [{label: "全部", value: "all"}],
                                categories: [
                                    {label: "已结束", value: "1"},
                                    {label: "未开始", value: "2"}
                                ]
                            },
                            {
                                label: "省份",
                                field: "province",
                                fixed: [{label: "全部", value: "all"}],
                                categories: provinceData
                            }
                        ]
                }
            }
        },
        mounted() {
            this.fetchProductData();
        }
    })
</script>
</body>
</html>
