<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>城乡建设领域碳排放监测管理平台</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/elementUI.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/page/compare-analysis.css">
</head>
<body>
<div id="app">
    <div class="sys-title">城乡建设领域碳排放监测管理平台</div>

    <!-- header -->
    <div class="sys-header">
        <div class="full-screen iconfont" @click="fullScreenClick">&#xe607;</div>
        <div class="home" @click="handleHomeClick">
            <div class="home-icon iconfont">&#xe751;</div>
            <span class="home-text">首页</span>
        </div>
        <div class="nav">
            <ul class="nav-left">
                <li v-for="(item, index) in navLeft"
                    :class="[item.navName, item.active && 'nav-active']"
                    :key="index"
                    @click="handleNavClick(item)">
                    <div class="nav-icon"></div>
                    <div class="nav-name">{{ item.name }}</div>
                </li>
            </ul>
            <div class="sys-title-placeholder"></div>
            <ul class="nav-right">
                <li v-for="(item, index) in navRight" :class="[item.active && 'nav-active', item.navName]" :key="index" @click="handleNavClick(item)">
                    <div class="nav-icon"></div>
                    <div class="nav-name" v-if="item.name.length <= 4">{{ item.name }}</div>
                    <dl class="nav-name" v-else>
                        <dt>{{ item.name.substring(0, 4) }}</dt>
                        <dd>{{ item.name.substring(4) }}</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="header-right-line"></div>
        <div class="header-right">
            <div class="header-right-top">
                <img class="avatar" src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png" />
                <div class="text">
                    <a>{{ userName }}</a>
                    <div class="icon-wrap">
                        <div class="iconfont" title="全屏" @click="fullScreenClick">&#xe607;</div>
                        <div class="iconfont" title="模型" @click="modelClick">&#xe667;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 对比分析 -->
    <div class="compare-analysis-container">
        <div class="container-title">
            <span class="title-text">对比分析</span>
        </div>
        <div class="container-content">
            <div class="layout-wrap">
                <div class="container-content-range">
                    <div class="title">对比范围</div>
                    <div class="item-box">
                        <div class="category padding">
                            <div class="category-title"
                                 :class="{ 'category-title--active': subCategoryActive === '10' }"
                                 @click="handleSubCategoryClick('10')">
                                <span class="prefix-icon"></span>
                                <span class="label">运行能耗</span>
                            </div>
                            <div class="sub-category">
                                <div class="sub-category-layout">
                                    <div class="sub-category-item"
                                         :class="{ 'sub-category-item--active': item.value === subCategoryActive }"
                                         v-for="(item, index) in subCategoriesTop"
                                         :key="index"
                                         @click="handleSubCategoryClick(item.value)">
                                        <span class="prefix-icon"></span>
                                        <span class="label">{{ item.label }}</span>
                                    </div>
                                </div>
                                <div class="sub-category-layout">
                                    <div class="sub-category-item"
                                         :class="{ 'sub-category-item--active': item.value === subCategoryActive }"
                                         v-for="(item, index) in subCategoriesBottom"
                                         :key="index"
                                         @click="handleSubCategoryClick(item.value)">
                                        <span class="prefix-icon"></span>
                                        <span class="label">{{ item.label }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-layout-wrap">
                            <div class="category"
                                 :class="{ 'category--active': subCategoryActive === '20' }"
                                 @click="handleSubCategoryClick('20')">
                                <span class="prefix-icon"></span>
                                <span class="label">建筑业能耗</span>
                            </div>
                            <div class="category"
                                 :class="{ 'category--active': subCategoryActive === '30' }"
                                 @click="handleSubCategoryClick('30')">
                                <span class="prefix-icon"></span>
                                <span class="label">基础设施能耗</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-content-index">
                    <div class="title">对比指标</div>
                    <div class="item-box">
                        <div class="item-box-layout">
                            <div class="index-item"
                                 v-for="(item, index) in compareIndexDataListTop"
                                 :style="getIndexItemStyle(item.value)"
                                 :key="index"
                                 @click="handleQuotaClick(item.value)">{{ item.label }}</div>
                        </div>
                        <div class="item-box-layout">
                            <div class="index-item"
                                 v-for="(item, index) in compareIndexDataListMid"
                                 :style="getIndexItemStyle(item.value)"
                                 :key="index"
                                 @click="handleQuotaClick(item.value)">{{ item.label }}</div>
                        </div>
                        <div class="item-box-layout">
                            <div class="index-item"
                                 v-for="(item, index) in compareIndexDataListBottom"
                                 :style="getIndexItemStyle(item.value)"
                                 :key="index"
                                 @click="handleQuotaClick(item.value)">{{ item.label }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-wrap">
                <div class="container-content-compare">
                    <div class="header-fixed-wrap" :style="opacityStyle" v-if="headerFixed">
                        <div class="title header-fixed">
                            <span :class="{ 'active': compare === 1 }" @click="handleCompareButtonClick(1)">按省对比</span>
                            <span :class="{ 'active': compare === 2 }" @click="handleCompareButtonClick(2)">按城市对比</span>
                        </div>
                    </div>
                    <div class="title" v-else>
                        <span :class="{ 'active': compare === 1 }" @click="handleCompareButtonClick(1)">按省对比</span>
                        <span :class="{ 'active': compare === 2 }" @click="handleCompareButtonClick(2)">按城市对比</span>
                    </div>
                    <!-- 按省对比 -->
                    <div class="compare-box province" v-if="compare === 1">
                        <div class="province-item"
                             :class="{ 'province-item--active': provinceActive.includes(item)  }"
                             v-for="item in provinceData"
                             :key="item"
                             @click="handleProvinceClick(item)">
                            <div class="prefix-icon"></div>
                            <div class="label">{{ item }}</div>
                        </div>
                    </div>
                    <!-- 按城市对比 -->
                    <div class="compare-box" v-else>
                        <div class="compare-box-item" v-for="item in cityData" :key="item.title">
                            <div class="pinyin">{{ item.title }}</div>
                            <div class="city-container">
                                <div class="city"
                                     :class="{ 'active': cityActive.includes(city.city) }"
                                     v-for="city in item.lists"
                                     :key="city.code"
                                     @click="handleCityClick(city)">{{ city.city }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-wrap-range">
                <div class="year-range">
                    <div class="title">年度范围</div>
                    <div class="item-content">
                        <el-date-picker
                            v-model="yearStart"
                            type="year"
                            placeholder="选择年">
                        </el-date-picker>
                        <div class="range-line"></div>
                        <el-date-picker
                            v-model="yearEnd"
                            type="year"
                            placeholder="选择年"
                            :disabled="!yearStart"
                            :picker-options="pickerOptions"
                            @click.native="onYearEndClick">
                        </el-date-picker>
                    </div>
                </div>
                <div class="computed-method">
                    <div class="title">计算方法</div>
                    <div class="item-content">
                        <div class="method-item-wrap"
                            v-for="item in methodList"
                            :key="item.value">
                            <div class="method-item"
                                 :class="{ 'method-item--active': item.value === computedMethod }"
                                 @click="handleComputedMethodClick(item.value)">
                                <div class="prefix-icon"></div>
                                <div class="label">{{ item.label }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-wrap-operation">
                <div class="computed-btn" @click="handleButtonClick">计 算</div>
            </div>
        </div>

        <el-dialog
            :title="dialogTitle"
            :visible.sync="resultVisible">
            <div id="result" style="width: 100%; height: 4rem;"></div>
        </el-dialog>
    </div>
</div>

<script src="../js/vue.min.js"></script>
<script src="../js/element.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/select.js"></script>
<script src="../js/moment.min.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/province.js"></script>
<script src="../js/cityData.js"></script>
<script src="../js/config.js"></script>
<script>
    const myApp = new Vue({
        el: "#app",
        data: {
            userName: "管理员",
            navList: [
                {
                    navName: "xianzhuang",
                    name: "现状",
                    location: 'xianzhuang.html',
                    active: true
                },
                {
                    navName: "yuce",
                    name: "预测",
                    location: 'yuce.html'
                },
                {
                    navName: "diaodu",
                    name: "调度",
                    location: 'diaodu.html'
                },
                {
                    navName: "kaoping",
                    name: "评价",
                    location: 'kaoping.html'
                },
                {
                    navName: "jianzhu",
                    name: "重点建筑监管",
                    location: "jianzhu.html"
                },
                {
                    navName: "hangye",
                    name: "重点行业监管",
                    location: "hangye.html"
                },
                {
                    navName: "chanpin",
                    name: "技术产品",
                    location: 'chanpin.html'
                },
                {
                    navName: "chaxun",
                    name: "数据查询",
                    location: 'data-query.html'
                }
            ],
            subCategoryActive: '1',
            subCategories: [
                { label: "城镇居住建筑", value: '1' },
                { label: "公共建筑", value: '2' },
                { label: "教育建筑", value: '2-1' },
                { label: "体育建筑", value: '2-2' },
                { label: "综合建筑", value: '2-3' },
                { label: "办公建筑", value: '2-4' },
                { label: "商场建筑", value: '2-5' },
                { label: "文化建筑", value: '2-6' },
                { label: "其他建筑", value: '2-7' },
                { label: "医疗卫生", value: '2-8' },
                { label: "集中供暖", value: '4' },
                { label: "农村住宅", value: '3' },
            ],
            compareIndexDataList: [
                { label: "单位面积用能强度", value: 1 },
                { label: "人均用能强度", value: 2 },
                { label: "电气化率", value: 3 },
                { label: "单位面积碳排放强度", value: 4 },
                { label: "GDP产值", value: 5 },
                { label: "人均用电量", value: 6 },
                { label: "单位GDP排放", value: 7 },
                { label: "综合碳排放因子", value: 8 },
                { label: "绿化率", value: 9 },
                { label: "人均碳排放强度", value: 10 },
                { label: "单位GDP能耗", value: 11 },
                { label: "建筑总面积", value: 12 },
                { label: "人均建筑面积", value: 13 },
                { label: "单位面积用电量", value: 14 },
                { label: "人均用水量", value: 15 }
            ],
            compare: 1,
            headerFixed: false,
            opacityStyle: {},
            yearStart: "",
            yearEnd: "",
            quota: "",
            computedMethod: 1,
            methodList: [
                { label: "平均值", value: 1 },
                { label: "1/4分位", value: 2 },
                { label: "中位数", value: 3 },
                { label: "高位数", value: 4 }
            ],
            cityActive: [],
            provinceActive: [],
            resultVisible: false,
            dialogTitle: "对比结果"
        },
        methods: {
            handleNavClick(item) {
                window.location.href = item.location;
            },

            getIndexItemStyle(value) {
                if (this.quota === value) {
                    return {
                        border: '2px solid #107acc',
                        background: '#107acc'
                    }
                } else if (this.quotaDisabled.includes(value)) {
                    return {
                        border: '2px solid #999999',
                        background: '#999999',
                        cursor: 'not-allowed',
                    }
                } else {
                    return {
                        border: '2px solid #107ACC'
                    }
                }
            },

            handleCompareButtonClick(compare) {
                this.compare = compare;
                this.headerFixed = false;
            },

            onYearEndClick() {
                if (!this.yearStart) {
                    this.$message.warning("请先选择开始年")
                }
            },

            /**
             * 切换省份
             */
            handleProvinceClick(province) {
                if (this.provinceActive.includes(province)) {
                    this.provinceActive.splice(this.provinceActive.indexOf(province), 1)
                } else {
                    this.provinceActive.push(province)
                }
            },

            /**
             * 切换城市
             */
            handleCityClick({ city }) {
                if (this.cityActive.includes(city)) {
                    this.cityActive.splice(this.cityActive.indexOf(city), 1)
                } else {
                    this.cityActive.push(city)
                }
            },

            /**
             * 切换计算方法
             */
            handleComputedMethodClick(computeMethod) {
                this.computedMethod = computeMethod;
            },

            fullScreenClick() {
                const isFullScreen = () => {
                    return !! (
                        document.fullscreen ||
                        document.mozFullScreen ||
                        document.webkitIsFullScreen ||
                        document.webkitFullScreen ||
                        document.msFullScreen
                    );
                }
                const de = document.documentElement;
                if (!isFullScreen()) {
                    if (de.requestFullscreen) {
                        de.requestFullscreen();
                    } else if (de.mozRequestFullScreen) {
                        de.mozRequestFullScreen();
                    } else if (de.webkitRequestFullScreen) {
                        de.webkitRequestFullScreen();
                    }
                } else {
                    if(document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if(document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if(document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    }
                }
            },

            handleHomeClick() {
                window.location.href = 'index.html'
            },

            /**
             * 计算
             */
            handleButtonClick() {
                if (!this.subCategoryActive) {
                    return this.$message.warning("请选择对比范围")
                }
                if (!this.quota) {
                    return this.$message.warning("请选择对比指标")
                }
                if (this.compare === 1 && !this.provinceActive.length) {
                    return this.$message.warning("请选择对比省份/直辖市")
                }
                if (this.compare === 2 && !this.cityActive.length) {
                    return this.$message.warning("请选择对比城市")
                }
                if (!this.yearStart || !this.yearEnd) {
                    return this.$message.warning("请选择对比年度范围")
                }
                if (!this.computedMethod) {
                    return this.$message.warning("请选择对比方法")
                }
                const that = this;
                $.get(`${severUrl}/Newxz/compare`, {
                    type: this.subCategoryActive,
                    region: this.compare === 1
                        ? this.provinceActive.join(',')
                        : this.cityActive.join(','),
                    method: this.computedMethod,
                    year1: moment(this.yearStart).format('YYYY'),
                    year2: moment(this.yearEnd).format('YYYY'),
                    quota: this.quota
                }, function(data) {
                    that.resultVisible = true;
                    that.$nextTick(() => {
                        that.drawCompareChart(data);
                    })
                })
            },

            /**
             * 切换对比范围
             */
            handleSubCategoryClick(cate) {
                this.subCategoryActive = cate;
                this.quota = "";
            },

            drawCompareChart(data) {
                const { dw, legend, tip, title, x_name, y_data } = data;
                this.dialogTitle = title;
                const xNameData = []
                for (let i = 0; i < x_name.length; i++) {
                    xNameData.push(x_name[i])
                }
                const colorRange = [['#F5804D', '#FCCB05'], ['#09BCB7', '#8BD46E'], ['#6851F1', '#248FF7']]
                const seriesData = legend.map((item, index) => {
                    return {
                        name: item,
                        type: "bar",
                        barWidth: 10,
                        itemStyle: {
                            borderWidth: 2,
                            color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [
                                {
                                    offset: 0,
                                    color: index < 3 ? colorRange[index][0] : colorRange[index % 3][0],
                                },
                                {
                                    offset: 1,
                                    color: index < 3 ? colorRange[index][1] : colorRange[index % 3][1],
                                }
                            ]),
                            borderRadius: 3
                        },
                        data: y_data[index],
                    }
                })
                const myChart = echarts.init(document.getElementById('result'));
                const option = {
                    backgroundColor: 'transparent',
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        },
                        confine: true,
                        formatter: function (params) {
                            let relVal = `${params[0].name}`;
                            let prefix
                            for (let i = 0, l = params.length; i < l; i++) {
                                prefix = `<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color: ${params[i].color.colorStops[0].color}"></span>`
                                relVal += '<br/>' + prefix + `${params[i].seriesName}` + ' : ' + `${params[i].value} ${dw}`;
                            }
                            return relVal;
                        }
                    },
                    grid: {
                        top: '15%',
                        left: '3%',
                        right: '3%',
                        bottom: '2%',
                        containLabel: true
                    },
                    legend: {
                        x: 'right',
                        y: 'top',
                        padding: [20, 30, 0, 0],
                        itemGap: 34,
                        data: legend,
                        textStyle: {
                            color: '#fff',
                            fontSize: '.12rem'
                        },
                        itemWidth: 10,
                        itemHeight: 4
                    },
                    xAxis: [
                        {
                            type: "category",
                            axisTick: {
                                show: false,
                            },
                            axisLine: {
                                lineStyle: {
                                    color: 'rgba(255, 255, 255, .05)'
                                }
                            },
                            data: xNameData,
                            axisLabel: {
                                margin: 10,
                                fontSize: '.1rem',
                                formatter: "{value}",
                                color: '#fff'
                            }
                        },
                    ],
                    yAxis: [
                        {
                            type: "value",
                            name: `单位：${dw}`,
                            nameTextStyle: {
                                color: "#fff",
                                fontSize: "0.14rem",
                                padding: [0, 0, 0, 30],
                            },
                            show: true,
                            axisTick: {
                                show: false,
                            },
                            axisLine: {
                                show: false,
                            },
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    color: "rgba(255, 255, 255, .09)"
                                }
                            },
                            axisLabel: {
                                fontSize: '.12rem',
                                color: '#fff'
                            }
                        },
                    ],
                    series: seriesData
                }
                myChart.setOption(option)
            },

            handleQuotaClick(quota) {
                if (!this.quotaDisabled.includes(quota)) {
                    this.quota = quota;
                }
            },

            modelClick() {
                window.open('model.html')
            }
        },
        computed: {
            navLeft() {
                return this.navList.slice(0, 4)
            },
            navRight() {
                return this.navList.slice(4)
            },
            subCategoriesTop() {
                return this.subCategories.slice(0, 6)
            },
            subCategoriesBottom() {
                return this.subCategories.slice(6)
            },
            compareIndexDataListTop() {
                return this.compareIndexDataList.slice(0, 5)
            },
            compareIndexDataListMid() {
                return this.compareIndexDataList.slice(5, 10)
            },
            compareIndexDataListBottom() {
                return this.compareIndexDataList.slice(10)
            },
            cityData() {
                return cityData
            },
            quotaDisabled() {
                if (['20', '30'].includes(this.subCategoryActive)) {
                    return [1, 3, 4, 6, 9, 10, 12, 13, 14 ]
                } else {
                    return [5, 7, 8, 11, 15]
                }
            },
            pickerOptions() {
                if (this.yearStart) {
                    const yearStart = new Date(this.yearStart).getFullYear();
                    return {
                        disabledDate(time) {
                            return time.getFullYear() < yearStart
                        }
                    }
                }
            }
        },
        mounted() {
            $('.compare-box').on('mouseenter', '.city', function() {
                $('.pinyin-hover').removeClass('pinyin-hover');
                $(this)
                    .parent('.city-container')
                    .prev('.pinyin')
                    .addClass('pinyin-hover')
            }).on('mouseleave', '.city', function() {
                $(this)
                    .parent('.city-container')
                    .prev('.pinyin')
                    .removeClass('pinyin-hover')
            })
            this.$nextTick(() => {
                $('.city').click(function () {
                    // $('.pinyin-hover').removeClass('pinyin-hover');
                    $(this)
                        .parent('.city-container')
                        .prev('.pinyin')
                        .addClass('pinyin-hover')
                })
                const _this = this;
                $('.container-content').scroll(function() {
                    const scrollTop = $(this).scrollTop()
                    if (scrollTop > 140) {
                        _this.headerFixed = true
                        let opacity = scrollTop / 320
                        opacity = opacity > 1 ? 1 : opacity
                        _this.opacityStyle = { opacity }
                    } else if (scrollTop === 0) {
                        _this.opacityStyle = { opacity: 1 }
                    } else {
                        _this.headerFixed = false
                    }
                })
            })
        }
    })
</script>
</body>
</html>
