<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>城乡建设领域碳排放监测管理平台</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/iconfont.css">
  <link rel="stylesheet" href="../css/elementUI.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/page/data-query.css">
</head>
<body>
<div id="app">
  <div class="sys-title">城乡建设领域碳排放监测管理平台</div>

  <!-- header -->
  <div class="sys-header">
    <div class="home" @click="handleHomeClick">
      <div class="home-icon iconfont">&#xe751;</div>
      <span class="home-text">首页</span>
    </div>
    <div class="nav">
      <ul class="nav-left">
        <li v-for="(item, index) in navLeft"
            :class="[item.navName, item.active && 'nav-active']"
            :key="index"
            @click="handleNavClick(item)">
          <div class="nav-icon"></div>
          <div class="nav-name">{{ item.name }}</div>
        </li>
      </ul>
      <div class="sys-title-placeholder"></div>
      <ul class="nav-right">
        <li v-for="(item, index) in navRight" :class="[item.active && 'nav-active', item.navName]" :key="index" @click="handleNavClick(item)">
          <div class="nav-icon"></div>
          <div class="nav-name" v-if="item.name.length <= 4">{{ item.name }}</div>
          <dl class="nav-name" v-else>
            <dt>{{ item.name.substring(0, 4) }}</dt>
            <dd>{{ item.name.substring(4) }}</dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="header-right-line"></div>
    <div class="header-right">
      <div class="header-right-top">
        <img class="avatar" src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png" />
        <div class="text">
          <a>{{ userName }}</a>
          <div class="icon-wrap">
            <div class="iconfont" title="全屏" @click="fullScreenClick">&#xe607;</div>
            <div class="iconfont" title="模型" @click="modelClick">&#xe667;</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 系统内容部分 -->
  <div class="container">
    <div class="tree-container">
      <div class="title">全国碳排放统计监测系统数据库</div>
      <div class="tree">
        <el-tree
          ref="tree"
          :data="treeNode"
          :current-node-key="currentNode"
          :props="defaultProps"
          node-key="id"
          :default-expanded-keys="defaultExpandedKeys"
          @node-click="handleNodeClick"
          v-if="treeNode.length"></el-tree>
      </div>
    </div>
    <div class="tree__node__detail">
      <div class="tree__table__title" v-if="title">{{ title }}</div>
      <div class="table__wrap"
           v-loading="loading"
           element-loading-text="正在加载数据,请稍后..."
           element-loading-background="rgba(0, 0, 0, .25)">
        <el-table
          :data="tableData"
          height="100%"
          v-if="tableColumn.length">
          <el-table-column
            v-for="item in tableColumn"
            :label="item.label"
            :prop="item.prop"
            align="center"
            :width="item.width || 150"
            :fixed="item.fixed"></el-table-column>
        </el-table>
        <div class="no-data" v-else>
          <div class="iconfont">&#xeabc;</div>
          暂无数据
        </div>
      </div>
      <div class="table-pagination" v-if="tableData.length">
        <el-pagination
          :current-page.sync="page"
          :page-size="pageSize"
          :total="total"
          background
          layout="total, sizes, prev, pager, next"
          @current-change="handlePageChange"
          @size-change="handlePageSizeChange">
        </el-pagination>
      </div>
    </div>
  </div>
</div>

<script src="../js/vue.min.js"></script>
<script src="../js/element.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/select.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/moment.min.js"></script>
<script src="../js/china.js"></script>
<script src="../js/config.js"></script>
<script>
  const myApp = new Vue({
    el: "#app",
    data: {
      userName: "管理员",
      navList: [
        {
          navName: "xianzhuang",
          name: "现状",
          location: 'xianzhuang.html'
        },
        {
          navName: "yuce",
          name: "预测",
          location: 'yuce.html'
        },
        {
          navName: "diaodu",
          name: "调度",
          location: 'diaodu.html'
        },
        {
          navName: "kaoping",
          name: "评价",
          location: 'kaoping.html'
        },
        {
          navName: "jianzhu",
          name: "重点建筑监管",
          location: "jianzhu.html"
        },
        {
          navName: "hangye",
          name: "重点行业监管",
          location: "hangye.html"
        },
        {
          navName: "chanpin",
          name: "技术产品",
          location: 'chanpin.html'
        },
        {
          navName: "chaxun",
          name: "数据查询",
          location: 'data-query.html',
          active: true
        }
      ],
      year: 2023,
      currentYear: '2023',
      treeNode: [],
      defaultProps: {
        children: 'children',
        label: 'name',
        disabled: 'disabled'
      },
      currentNode: '',
      tree: null,
      title: '',
      lastChecked: '',
      tableData: [],
      tableTitle: {},
      page: 1,
      pageSize: 30,
      total: 0,
      defaultExpandedKeys: [],
      tableColumn: [],
      loading: true
    },
    methods: {
      handleNavClick(item) {
        window.location.href = item.location;
      },

      handleNodeClick(node) {
        this.page = 1;
        if (node.children) {
          this.$refs.tree.setCurrentKey(this.lastChecked)
        } else {
          this.title = `${node.name}`
          this.lastChecked = node.id
          this.tableColumn = [];
          this.loading = true;
          this.getTableData(node.id);
        }
      },

      getTableData(id) {
        const that = this;
        $.get(`${severUrl}/Newxz/datasearchdetail`, {
          id
        }, function(data) {
          const { datas, table_title } = data;
          that.originData = JSON.parse(JSON.stringify(datas));
          that.total = that.originData.length;
          that.tableData = datas.slice(0, that.pageSize);
          that.table_title = table_title;
          const tableColumn = []
          for (const prop in table_title) {
            const columnItem = {
              label: table_title[prop],
              prop
            }
            if (['region_name', 'index_text1', 'index_text2'].includes(prop)) {
              columnItem.fixed = "left"
            }
            tableColumn.push(columnItem)
          }
          that.tableColumn =  tableColumn;
          that.loading = false;
        })
      },

      handlePageChange(page) {
        this.tableData = this.originData.slice((page - 1) * this.pageSize, (page - 1) * this.pageSize + this.pageSize);
      },

      handlePageSizeChange(pageSize) {
        this.page = 1;
        this.tableData = this.originData.slice((this.page - 1) * pageSize, (this.page - 1) * pageSize + pageSize);
      },

      fullScreenClick() {
        const isFullScreen = () => {
          return !! (
                  document.fullscreen ||
                  document.mozFullScreen ||
                  document.webkitIsFullScreen ||
                  document.webkitFullScreen ||
                  document.msFullScreen
          );
        }
        const de = document.documentElement;
        if (!isFullScreen()) {
          if (de.requestFullscreen) {
            de.requestFullscreen();
          } else if (de.mozRequestFullScreen) {
            de.mozRequestFullScreen();
          } else if (de.webkitRequestFullScreen) {
            de.webkitRequestFullScreen();
          }
        } else {
          if(document.exitFullscreen) {
            document.exitFullscreen();
          } else if(document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
          } else if(document.webkitExitFullscreen) {
            document.webkitExitFullscreen();
          }
        }
      },

      handleHomeClick() {
        window.location.href = 'index.html'
      },

      fetchData() {
        const loading = this.$loading({
          text: "数据加载中...",
          background: 'rgba(0, 0, 0, 0.25)'
        });
        const that = this;
        $.get(`${severUrl}/Newxz/datasearch`, {}, function(data) {
          that.treeNode = data;
          if (data.length) {
            const findLastChild = node => {
              if (node.children) {
                return findLastChild(node.children[0])
              } else {
                return node;
              }
            }
            const defaultActiveNode = findLastChild(data[0]);
            that.title = defaultActiveNode.name;
            that.defaultExpandedKeys = defaultActiveNode.id;
            that.getTableData(defaultActiveNode.id);
            that.currentNode = defaultActiveNode.id;
            that.lastChecked = defaultActiveNode.id;
            that.$nextTick(() => {
              that.$refs.tree.setCurrentKey(that.lastChecked)
            })
          }
        })
        loading.close();
      },

      modelClick() {
        window.open('model.html')
      }
    },
    computed: {
      navLeft() {
        return this.navList.slice(0, 4)
      },
      navRight() {
        return this.navList.slice(4)
      }
    },
    mounted() {
      this.fetchData();
    }
  })
</script>
</body>
</html>
