<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>城乡建设领域碳排放监测管理平台</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/iconfont.css">
  <link rel="stylesheet" href="../css/elementUI.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/page/diaodu.css">
</head>
<body>
<div id="app">
  <div class="sys-title">城乡建设领域碳排放监测管理平台</div>

  <!-- header -->
  <div class="sys-header">
    <div class="home" @click="handleHomeClick">
      <div class="home-icon iconfont">&#xe751;</div>
      <span class="home-text">首页</span>
    </div>
    <div class="nav">
      <ul class="nav-left">
        <li v-for="(item, index) in navLeft"
            :class="[item.navName, item.active && 'nav-active']"
            :key="index"
            @click="handleNavClick(item)">
          <div class="nav-icon"></div>
          <div class="nav-name">{{ item.name }}</div>
        </li>
      </ul>
      <div class="sys-title-placeholder"></div>
      <ul class="nav-right">
        <li v-for="(item, index) in navRight" :class="[item.active && 'nav-active', item.navName]" :key="index" @click="handleNavClick(item)">
          <div class="nav-icon"></div>
          <div class="nav-name" v-if="item.name.length <= 4">{{ item.name }}</div>
          <dl class="nav-name" v-else>
            <dt>{{ item.name.substring(0, 4) }}</dt>
            <dd>{{ item.name.substring(4) }}</dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="header-right-line"></div>
    <div class="header-right">
      <div class="icon-wrap">
        <div class="iconfont" title="全屏" @click="fullScreenClick">&#xe607;</div>
        <div class="iconfont" title="模型" @click="modelClick">&#xe667;</div>
      </div>
      <div class="header-right-top">
        <img class="avatar" src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png" />
        <div class="text">
          <a>{{ userName }}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" :class="{ 'is-expand': isExpand }" @click="handleExpandToggle">
    <span>{{ isExpand ? '收起' : '展开' }}</span>
    <span class="iconfont">&#xe62d;</span>
  </div>
  <!-- 系统内容部分 -->
  <div class="container">
    <div class="layout-left-wrap">
      <div class="layout-left-top-wrap">
        <div class="layout-item layout-left-top" :class="{ 'layout-left-top--expand': isExpand }">
          <div class="layout-item-title">各地方任务调配</div>
          <div class="layout-item-content">
            <div class="operation" v-if="tabActive === 1">
              <div class="operation-left">
                <div class="operation-item operation-item--active">在线设定</div>
                <div class="operation-item" @click="handleComputedClick">计算</div>
              </div>
              <div class="operation-right">
                <div class="operation-item">导入</div>
                <div class="operation-item">导出</div>
                <div class="operation-item">下载模板</div>
              </div>
            </div>
            <div class="table-wrap">
              <template v-if="tabActive === 1">
                <el-table
                  height="100%"
                  :data="taskSettingTableData"
                  :span-method="objectSpanMethod"
                  border
                  style="width: 100%;">
                  <el-table-column prop="specialWork" label="专项工作" align="center" width="180" fixed="left"></el-table-column>
                  <el-table-column prop="specificItem" label="具体项目" align="center" width="200" fixed="left"></el-table-column>
                  <el-table-column prop="localClimate" label="地区" align="center" width="180"></el-table-column>
                  <el-table-column prop="taskDesc" label="任务说明" align="center" width="240"></el-table-column>
                  <el-table-column
                    v-for="column in taskSettingTableColumn"
                    :key="column.prop"
                    :label="column.label"
                    :prop="column.prop"
                    min-width="130"
                    align="center">
                    <template #default="{ row }">
                      <el-input v-model="row[column.prop]"></el-input>
                    </template>
                  </el-table-column>
                  <el-table-column prop="cost" label="单位成本" width="130"></el-table-column>
                  <el-table-column prop="energySaving" label="单位节能量" width="130"></el-table-column>
                </el-table>
              </template>
              <template v-if="tabActive === 2">
                <el-table
                  height="100%"
                  :data="taskSettingTableData2"
                  :span-method="objectSpanMethod"
                  border
                  style="width: 100%;"
                  v-if="computedFlag">
                  <el-table-column prop="specialWork" label="专项工作" align="center" width="180" fixed="left"></el-table-column>
                  <el-table-column prop="specificItem" label="具体项目" align="center" width="200" fixed="left"></el-table-column>
                  <el-table-column prop="localClimate" label="地区" align="center" width="180"></el-table-column>
                  <el-table-column prop="taskDesc" label="任务说明" align="center" width="240"></el-table-column>
                  <el-table-column
                          v-for="column in taskSettingTableColumn"
                          :key="column.prop"
                          :label="column.label"
                          :prop="column.prop"
                          min-width="130"
                          align="center">
                    <template #default="{ row }">
                      {{ row[column.prop] }}
                    </template>
                  </el-table-column>
                </el-table>
                <div class="no-computed" v-else>
                  <div class="iconfont">&#xe66d;</div>
                  请完成计算后查看
                </div>
              </template>
              <template v-else>
                <el-table
                  height="100%"
                  :data="taskSettingTableData3"
                  :span-method="objectSpanMethod"
                  border
                  style="width: 100%;"
                  v-if="computedFlag">
                  <el-table-column prop="specialWork" label="专项工作" align="center" width="180" fixed="left"></el-table-column>
                  <el-table-column prop="specificItem" label="具体项目" align="center" width="200" fixed="left"></el-table-column>
                  <el-table-column prop="localClimate" label="地区" align="center" width="180"></el-table-column>
                  <el-table-column prop="taskDesc" label="任务说明" align="center" width="240"></el-table-column>
                  <el-table-column
                          v-for="column in taskSettingTableColumn"
                          :key="column.prop"
                          :label="column.label"
                          :prop="column.prop"
                          min-width="130"
                          align="center">
                    <template #default="{ row }">
                      {{ row[column.prop] }}
                    </template>
                  </el-table-column>
                </el-table>
                <div class="no-computed" v-else>
                  <div class="iconfont">&#xe66d;</div>
                  请完成计算后查看
                </div>
              </template>
            </div>
          </div>
          <div class="tab">
            <div class="tab-item"
                 :class="{ 'tab-item--active': tabActive === tab.value }"
                 v-for="(tab, tabIndex) in tabList"
                 :key="tabIndex"
                 @click="handleTabClick(tab)">{{ tab.tabName }}</div>
          </div>
        </div>
      </div>
      <div class="layout-item layout-right-top">
        <div class="layout-item-title">{{ rightTopTitle }}</div>
        <div class="layout-item-content project-table-wrap">
          <el-table
                  :data="projectBankTableData"
                  :height="projectBankTableHeight"
                  v-if="tableHeader.length">
            <el-table-column
                    :prop="item.prop"
                    align="center"
                    width="140"
                    v-for="item in tableHeader"
                    :fixed="item.fixed"
                    :key="item.prop">
              <template #header>
                <div>{{ item.label }}</div>
                <div class="column__unit">({{ dws[item.prop] || "单位" }})</div>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
    <div class="layout-right-wrap">
      <div class="layout-item layout-left-bottom">
        <div class="layout-item-title">{{ leftBottomTitle }}</div>
        <div class="layout-item-content" id="gzdd"></div>
      </div>
    </div>
  </div>

  <script src="../js/vue.min.js"></script>
  <script src="../js/element.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/echarts.min.js"></script>
  <script src="../js/moment.min.js"></script>
  <script src="../js/province.js"></script>
  <script src="../js/config.js"></script>
  <script>
    const myApp = new Vue({
      el: "#app",
      data: {
        userName: "管理员",
        navList: [
          {
            navName: "xianzhuang",
            name: "现状",
            location: 'xianzhuang.html',
          },
          {
            navName: "yuce",
            name: "预测",
            location: 'yuce.html'
          },
          {
            navName: "diaodu",
            name: "调度",
            location: 'diaodu.html',
            active: true
          },
          {
            navName: "kaoping",
            name: "评价",
            location: 'kaoping.html'
          },
          {
            navName: "jianzhu",
            name: "重点建筑监管",
            location: "jianzhu.html"
          },
          {
            navName: "hangye",
            name: "重点行业监管",
            location: "hangye.html"
          },
          {
            navName: "chanpin",
            name: "技术产品",
            location: 'chanpin.html'
          },
          {
            navName: "chaxun",
            name: "数据查询",
            location: 'data-query.html'
          }
        ],
        mapActive: 'china',
        leftBtnClass: '',
        rightBtnClass: '',
        tabActive: 1,
        tabList: [
          { tabName: "任务设定", value: 1 },
          { tabName: "减碳量CO₂", value: 2 },
          { tabName: "成本计算", value: 3 },
        ],
        dpActive: 1,
        dpSettingList: [
          { label: "在线设定", type: 1 },
          { label: "计算", type: 2 }
        ],
        taskSettingTableData: [],
        taskSettingTableData2: [],
        taskSettingTableData3: [],
        taskSettingTableColumn: [
          { label: '2021-2025', prop: '2021-2025' },
          { label: '2026-2030', prop: '2026-2030' },
          { label: '2031-2035', prop: '2031-2035' },
          { label: '2036-2040', prop: '2036-2040' },
          { label: '2041-2060', prop: '2041-2060' }
        ],
        // 是否已经进行计算
        computedFlag: false,
        // 减碳量表格数据
        jtlTableData: [],
        // 项目库表格数据
        projectBankTableData: [],
        projectBankTableHeight: 0,
        tableHeader: [],
        dws: {},
        resData: {},
        leftTopTitle: "",
        leftBottomTitle: "",
        rightTopTitle: "",
        rightBottomTitle: "",
        isExpand: false
      },
      methods: {
        handleNavClick(item) {
          window.location.href = item.location;
        },

        fullScreenClick() {
          const isFullScreen = () => {
            return !! (
                    document.fullscreen ||
                    document.mozFullScreen ||
                    document.webkitIsFullScreen ||
                    document.webkitFullScreen ||
                    document.msFullScreen
            );
          }
          const de = document.documentElement;
          if (!isFullScreen()) {
            if (de.requestFullscreen) {
              de.requestFullscreen();
            } else if (de.mozRequestFullScreen) {
              de.mozRequestFullScreen();
            } else if (de.webkitRequestFullScreen) {
              de.webkitRequestFullScreen();
            }
          } else {
            if(document.exitFullscreen) {
              document.exitFullscreen();
            } else if(document.mozCancelFullScreen) {
              document.mozCancelFullScreen();
            } else if(document.webkitExitFullscreen) {
              document.webkitExitFullscreen();
            }
          }
        },

        /**
         * 任务调配tab切换
         * @param tab
         */
        handleTabClick(tab) {
          this.tabActive = tab.value;
        },

        /**
         * 获取在线设定表格数据
         */
        fetchDataSettingOnline() {
          const { left_top } = this.resData;
          let resData = left_top.table1;
          const dataTemp = resData.slice(0, 10)
          resData.splice(0, 10)
          this.taskSettingTableData = resData.concat(dataTemp)
          const specialWorkList = []
          for (let i = 0; i < this.taskSettingTableData.length; i++) {
            const { specialWork, localClimate } = this.taskSettingTableData[i]
            let findTotal = 0
            if (!specialWorkList.includes(specialWork)) {
              findTotal = 1
              for (let j = 0; j < this.taskSettingTableData.length; j++) {
                const { specialWork: _specialWork, localClimate: _localClimate } = this.taskSettingTableData[j]
                if (specialWork === _specialWork && i !== j) {
                  findTotal++
                }
              }
              specialWorkList.push(specialWork)
            }
            this.taskSettingTableData[i].findTotal = findTotal
          }
          this.taskSettingTableData2 = this.taskSettingTableData.map(item => {
            const dataItem = {}
            for (const key in item) {
              dataItem[key] = ["2021-2025", "2026-2030", "2031-2035", "2036-2040", "2041-2060"].includes(key)
                      ? item[key].indexOf('%') > -1 ? '0%' : '0'
                      : item[key]
            }
            return dataItem
          })
          this.taskSettingTableData3 = this.taskSettingTableData.map(item => {
            const dataItem = {}
            for (const key in item) {
              dataItem[key] = ["2021-2025", "2026-2030", "2031-2035", "2036-2040", "2041-2060"].includes(key)
                      ? item[key].indexOf('%') > -1 ? '0%' : '0'
                      : item[key]
            }
            return dataItem
          })
        },

        objectSpanMethod({ row, column, rowIndex, columnIndex }) {
            if (columnIndex === 0) {
              return {
                rowspan: row.findTotal,
                colspan: 1,
              }
            } else if (columnIndex === 1) {
              // 具体项目列处理
              if (rowIndex === 0) {
                return {
                  rowspan: 3,
                  colspan: 1,
                }
              } else if ([1, 2].includes(rowIndex)) {
                return {
                  rowspan: 0,
                  colspan: 1
                }
              } else if ([12, 17].includes(rowIndex)) {
                return {
                  rowspan: 5,
                  colspan: 1
                }
              } else if ([13, 14, 15 ,16, 18, 19, 20, 21].includes(rowIndex)) {
                return {
                  rowspan: 0,
                  colspan: 1
                }
              }
            } else if (columnIndex === 3) {
              // 任务说明列处理
              if (rowIndex === 0) {
                return {
                  rowspan: 3,
                  colspan: 1
                }
              } else if ([1, 2].includes(rowIndex)) {
                return {
                  rowspan: 0,
                  colspan: 1
                }
              } else if (rowIndex === 12) {
                return {
                  rowspan: 10,
                  colspan: 1
                }
              } else if (rowIndex > 12) {
                return {
                  rowspan: 0,
                  colspan: 1
                }
              }
            }
        },

        fetchProjectBankData() {
          const { right_top } = this.resData;
          const { datas, dws, names, title } = right_top;
          this.rightTopTitle = title;
          const tableHeader = []
          for (const key in names) {
            const tableColumn = {
              label: names[key],
              prop: key
            }
            if (key === "region") {
              tableColumn.fixed = "left"
            }
            tableHeader.push(tableColumn)
          }
          this.tableHeader = tableHeader;
          this.dws = dws;
          this.projectBankTableData = datas;
        },

        /**
         * 绘制情况监测图表
         */
        drawQKJCChart() {
          const { right_bottom } = this.resData;
          const { title, tip, legend, dw, x_name, y_data } = right_bottom;
          this.rightBottomTitle = title;
          const myChart = echarts.init(document.getElementById('qkjc'));
          window.addEventListener('resize', function() {
            myChart.resize();
          })
          const option = {
            backgroundColor: 'transparent',
            tooltip: {
              trigger: 'axis',
              axisPointer: {
                type: 'shadow'
              },
              confine: true,
              formatter: function (params) {
                let relVal = `${params[0].name}`;
                let prefix
                for (let i = 0, l = params.length; i < l; i++) {
                  prefix = `<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color: ${params[i].color}"></span>`
                  relVal += '<br/>' + prefix + `${params[i].seriesName}` + ' : ' + `${params[i].value} ${dw}`;
                }
                return relVal;
              }
            },
            grid: {
              top: '25%',
              left: '3%',
              right: '3%',
              bottom: '10%',
              containLabel: true
            },
            legend: {
              top: "3%",
              right: '2%',
              textStyle: {
                color: "#fff",
                fontSize: 14
              },
              itemGap: 26,
              itemWidth: 25,
              itemHeight: 4,
              icon: 'rectangle',
              data: legend
            },
            xAxis: {
              type: 'category',
              data: x_name,
              axisTick: {
                show: false,
              },
              axisLine: {
                lineStyle: {
                  color: 'rgba(255, 255, 255, .05)'
                }
              },
              axisLabel: {
                margin: 10,
                fontSize: '.1rem',
                formatter: "{value}",
                color: '#fff'
              }
            },
            yAxis: {
              type: "value",
              name: `单位:${dw}`,
              nameTextStyle: {
                color: "#fff",
                fontSize: "",
                padding: [0, 0, 0, -20],
              },
              show: true,
              axisTick: {
                show: false,
              },
              axisLine: {
                show: false,
                lineStyle: {
                  color: "rgba(255, 255, 255, .09)"
                }
              },
              splitLine: {
                show: true,
                lineStyle: {
                  color: "rgba(255, 255, 255, .09)"
                }
              },
              axisLabel: {
                fontSize: '.12rem',
                color: '#fff'
              }
            },
            series: [
              {
                name: legend[0],
                type: "line",
                data: y_data[0],
                symbolSize: 5,
                symbol: "circle",
                smooth: true,
                yAxisIndex: 0,
                showSymbol: false,
                lineStyle: {
                  width: 3,
                  color: '#D3B15F',
                },
                itemStyle: {
                  color: "rgba(211, 177, 95, 1)",
                  borderColor: "rgba(211, 177, 95, 0.8)",
                  borderWidth: 5,
                }
              },
              {
                name: legend[1],
                type: "line",
                data: y_data[1],
                symbolSize: 5,
                symbol: "circle",
                smooth: true,
                showSymbol: false,
                lineStyle: {
                  width: 3,
                  color: "#00DCFF",
                },
                itemStyle: {
                  color: "rgba(0, 220, 255, 1)",
                  borderColor: "rgba(0, 220, 255, 0.8)",
                  borderWidth: 5,
                }
              }
            ]
          };
          myChart.setOption(option)
        },

        /**
         * 绘制工作调度图表
         */
        drawGZDDChart(showDataZoom = false) {
          const { left_bottom } = this.resData;
          const { title, dw, x_name, y_data } = left_bottom;
          this.leftBottomTitle = title;
          const myChart = echarts.init(document.getElementById('gzdd'));
          window.addEventListener('resize', function() {
            myChart.resize();
          })
          const dataZoom = showDataZoom && [
            {
              type: 'slider',
              startValue: 0,
              endValue: 12,
              bottom: '20',
              left: '30',
              height: 10,
              borderColor: '#1479A1',
              textStyle: {
                color: '#05D5FF',
              },
              backgroundColor: '#032E5C',
              dataBackground: {
                lineStyle: { color: 'rgba(250, 84, 28, .3)' },
                areaStyle: { color: 'rgba(250, 84, 28, .5)' }
              },
              moveHandleStyle: {
                color: 'rgba(38, 203, 251, 1)',
                borderColor: 'rgba(38, 203, 251, 1)'
              },
              fillerColor: 'rgba(250, 84, 28, .1)'
            }
          ]
          const option = {
            backgroundColor: 'transparent',
            tooltip: {
              trigger: 'axis',
              confine: true,
              formatter: function(params){
                let relVal = `${params[0].name}`;
                let prefix
                for (let i = 0, l = params.length; i < l; i++) {
                  prefix = `<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color: ${params[i].color}"></span>`
                  relVal += '<br/>' + prefix + `${params[i].seriesName}` + ' : ' + `${params[i].value} ${dw}`;
                }
                return relVal;
              },
              axisPointer: {
                type: 'cross',
                crossStyle: {
                  axisPointer: {
                    type: 'cross',
                    crossStyle: {
                      color: '#fff'
                    },
                    lineStyle: {
                      type: 'dashed'
                    }
                  }
                },
                lineStyle: {
                  type: 'dashed'
                }
              }
            },
            grid: {
              top: '20%',
              left: '2%',
              right: '2%',
              bottom: '15%',
              containLabel: true
            },
            xAxis: [
              {
                type: "category",
                axisTick: {
                  show: true
                },
                axisLine: {
                  lineStyle: {
                    color: 'rgba(255, 255, 255, .05)'
                  }
                },
                data: x_name,
                axisLabel: {
                  margin: 10,
                  fontSize: '.12rem',
                  formatter: "{value}",
                  color: '#fff'
                }
              },
            ],
            yAxis: {
              type: "value",
              name: `单位：${dw}(对全国达峰贡献量=各省达峰方案情景的峰值-各省达峰方案情景2030年排放值（2030年前达峰的是正值，2030之后达峰的是负值)`,
              position: 'left',
              nameTextStyle: {
                color: "#fff",
                fontSize: "0.13rem",
                padding: [0, 0, 0, 780],
              },
              show: true,
              axisTick: {
                show: false,
              },
              axisLine: {
                show: false,
              },
              splitLine: {
                show: true,
                lineStyle: {
                  color: "rgba(255, 255, 255, .15)"
                }
              },
              axisLabel: {
                fontSize: '.12rem',
                color: '#fff'
              }
            },
            dataZoom,
            series: {
              name: "减碳贡献度",
              type: "bar",
              barWidth: 15,
              itemStyle: {
                borderWidth: 1,
                color: data => {
                  return parseFloat(data.value) < 0 ? '#0B7062' : '#FCA805'
                },
                borderColor: data => {
                  return parseFloat(data.value) < 0 ? '#15FED1' : '#F3A603'
                },
                borderRadius: 2
              },
              data: y_data,
            }
          };
          myChart.setOption(option)
        },

        handleHomeClick() {
          window.location.href = 'index.html'
        },

        handleExpandToggle() {
          this.isExpand = !this.isExpand;
        },

        /**
         * 计算
         */
        handleComputedClick() {
          const loading = this.$loading({
            text: "正在计算减碳量与成本,请稍后...",
            background: 'rgba(0, 0, 0, 0.25)'
          });
          this.taskSettingTableData2 = this.taskSettingTableData.map(item => {
            const dataItem = {}
            for (const key in item) {
              const energySaving = item.energySaving || 0
              if (["2021-2025", "2026-2030", "2031-2035", "2036-2040", "2041-2060"].includes(key)) {
                if (item[key].indexOf('%') > -1) {
                  let value = item[key].replace("%", "");
                  value = value / 100;
                  dataItem[key] = value * energySaving * 2.1 + '%';
                } else {
                  dataItem[key] = item[key] * energySaving * 2.1
                }
              } else {
                dataItem[key] = item[key]
              }
            }
            return dataItem
          })
          this.taskSettingTableData3 = this.taskSettingTableData.map(item => {
            const dataItem = {}
            for (const key in item) {
              const cost = isNaN(item.cost) ? 0 : item.cost
              if (["2021-2025", "2026-2030", "2031-2035", "2036-2040", "2041-2060"].includes(key)) {
                if (item[key].indexOf('%') > -1) {
                  let value = item[key].replace("%", "");
                  value = value / 100;
                  dataItem[key] = value * cost + '%';
                } else {
                  dataItem[key] = item[key] * cost
                }
              } else {
                dataItem[key] = item[key]
              }
            }
            return dataItem
          })
          setTimeout(() => {
            loading.close();
            this.computedFlag = true;
            this.tabActive = 2;
            this.$message.success("计算完成");
          }, 2000)
        },

        modelClick() {
          window.open('model.html')
        }
      },
      computed: {
        navLeft() {
          return this.navList.slice(0, 4)
        },
        navRight() {
          return this.navList.slice(4)
        },
        provinceData() {
          return provinceData
        }
      },
      watch: {
        mapActive: {
          immediate: true,
          handler(mapActive) {
            if (mapActive === 'china') {
              this.leftBtnClass = 'area-group-item area-group-item--active'
              this.rightBtnClass = 'area-group-item left-active'
            } else {
              this.leftBtnClass = 'area-group-item right-active'
              this.rightBtnClass = 'area-group-item area-group-item--active'
            }
          }
        }
      },
      mounted() {
        this.$nextTick(() => {
          this.projectBankTableHeight = $('.project-table-wrap').height();
          const that = this;
          const loading = this.$loading({
            text: "数据加载中...",
            background: 'rgba(0, 0, 0, 0.25)'
          });
          $.get(`${severUrl}/Newdd/index`, {}, function (data) {

            loading.close();
            that.resData = data;
            that.fetchDataSettingOnline();
            that.fetchProjectBankData();
            // that.drawQKJCChart();
            that.drawGZDDChart();
          })
        })
      }
    })
  </script>
</div>
</body>
</html>
