<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>城乡建设领域碳排放监测管理平台</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/iconfont.css">
  <link rel="stylesheet" href="../css/elementUI.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/page/index.css">
  <style>

  </style>
</head>
<body>
<div id="app">
  <div class="mask" v-show="showMask"></div>
  <div class="sys-title">城乡建设领域碳排放监测管理平台</div>

  <!-- header -->
  <div class="sys-header">
    <div class="home active" @click="location.href('index.html')">
      <div class="home-icon iconfont">&#xe751;</div>
      <span class="home-text">首页</span>
    </div>
    <div class="nav">
      <ul class="nav-left">
        <li v-for="(item, index) in navLeft" :class="{ 'nav-active': item.active }" :key="index"
            @click="handleNavClick(item)">
          <div class="nav-icon"
               :style="{ 'background-image': `url(${item.iconPath})`, '--bgActive': `url(${item.iconPathActive})` }"></div>
          <div class="nav-name">{{ item.name }}</div>
        </li>
      </ul>
      <div class="sys-title-placeholder"></div>
      <ul class="nav-right">
        <li v-for="(item, index) in navRight" :class="{ 'nav-active': item.active }" :key="index"
            @click="handleNavClick(item)">
          <div class="nav-icon"
               :style="{ 'background-image': `url(${item.iconPath})`, '--bgActive': `url(${item.iconPathActive})` }"></div>
          <div class="nav-name" v-if="item.name.length <= 4">{{ item.name }}</div>
          <dl class="nav-name" v-else>
            <dt>{{ item.name.substring(0, 4) }}</dt>
            <dd>{{ item.name.substring(4) }}</dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="header-right-line"></div>
    <div class="header-right">
      <div class="header-right-top">
        <img class="avatar" src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png" />
        <div class="text">
          <a>{{ userName }}</a>
          <div class="icon-wrap">
            <div class="iconfont" title="全屏" @click="fullScreenClick">&#xe607;</div>
            <div class="iconfont" title="模型" @click="modelClick">&#xe667;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 系统内容部分 -->
  <div class="container">
    <div class="layout-ele">
      <div class="xz-item">
        <div class="collapse-item-wrap">
          <div class="xz-item-title collapse-item">
            {{ leftTopTitle }}
            <div class="tabs">
              <div class="tab-item"
                   :class="{ 'tab-item--active': cate1 === item.type }"
                   v-for="(item, index) in energyTypeList"
                   :key="index"
                   @click="handleToggleEnergy('cate1', item.type)">{{ item.label }}</div>
            </div>
          </div>
          <div class="chart-container" id="cate1"></div>
        </div>
      </div>
      <div class="xz-item">
        <div class="collapse-item-wrap">
          <div class="xz-item-title collapse-item">
            {{ leftMiddleTitle }}
            <div class="tabs">
              <div class="tab-item"
                   :class="{ 'tab-item--active': cate2 === item.type }"
                   v-for="(item, index) in energyTypeList"
                   :key="index"
                   @click="handleToggleEnergy('cate2', item.type)">{{ item.label }}</div>
            </div>
          </div>
          <div class="chart-container" id="cate2"></div>
        </div>
      </div>
      <div class="xz-item">
        <div class="collapse-item-wrap">
          <div class="xz-item-title collapse-item">
            {{ leftBottomTitle }}
            <div class="collapse-item-btn"
                 :class="[{ 'is-collapsed': collapseGZDD }, 'collapseGZDD']"
                 @click="handleCollapseClick('GZDD')">
              <span class="iconfont">&#xe622;</span>
              {{ collapseGZDD ? '展开' : '收起' }}
            </div>
          </div>
          <div class="chart-container" id="gzdd" v-if="loadChart.GZDD"></div>
        </div>
      </div>
    </div>
    <div class="layout-ele">
      <div class="map-wrap">
        <div class="energy-consumption">
          <div class="energy-consumption-title">{{ mapTitle }}</div>
          <div class="energy-consumption-value">
            <div class="value-item" v-for="(item, index) in mapValue" :key="index">{{ item }}</div>
          </div>
          <div class="energy-consumption-suffix">{{ mapUnit }}</div>
        </div>
        <div class="map-back" v-show="region !== 'china'" @click="handleMapChina">返回全国</div>
        <div class="map" id="mapContainer"></div>
      </div>
      <div class="model-wrap">
        <div class="model-title">碳达峰预测模型</div>
        <div class="model">
          <div class="model-item"
               :class="[
                  item.value === type && 'model-item--active',
                  item.size === 'small' && 'model-item-small'
               ]"
               v-for="(item, index) in categories"
               :key="index"
               @click="handleCategoryClick(item)">{{ item.categoryName }}</div>
        </div>
      </div>
    </div>
    <div class="layout-ele">
      <div class="xz-item">
        <div class="collapse-item-wrap">
          <div class="xz-item-title collapse-item in-right">
            新增减碳能力排名
          </div>
          <div class="table-wrap">
            <el-table
              :data="rankTableData"
              height="100%">
              <el-table-column
                label="省份"
                prop="year"
                align="center"
                width="80">
                <template #default="{ row }">
                  <span>{{ row.year }}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="task"
                sortable
                align="center"
                width="115">
                <template #header="{ column, $index }">
                  <div class="label">
                    <div class="label-text">{{ $index === 1 && '目标任务量' }}</div>
                    <div class="label-unit">(万吨)</div>
                  </div>
                </template>
                <template #default="{ row }">
                  <span style="color: #FFE400;">{{ row.task }}</span>
                </template>
              </el-table-column>
              <el-table-column
                property="real"
                sortable
                align="center"
                width="115">
                <template #header="{ column, $index }">
                  <div class="label">
                    <div class="label-text">{{ $index === 2 && '实际任务量' }}</div>
                    <div class="label-unit">(万吨)</div>
                  </div>
                </template>
                <template #default="{ row }">
                  <span style="color: #14E144;">{{ row.real }}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="cut"
                sortable
                align="center">
                <template #header="{ column, $index }">
                  <div class="label">
                    <div class="label-text">{{ $index === 3 && '差值' }}</div>
                    <div class="label-unit">(万吨)</div>
                  </div>
                </template>
                <template #default="{ row }">
                  <span :class="{ 'is--warning': row.cut < 0 }">{{ row.cut }}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="排名"
                align="center"
                width="40">
                <template #default="{ row, $index }">
                  <span style="color: #14e144;">{{ $index + 1 }}</span>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
      <div class="xz-item">
        <div class="collapse-item-wrap">
          <div class="xz-item-title collapse-item in-right">
            {{ rightMiddleTitle }}
          </div>
          <div class="chart-container jzjc">
            <div class="item" v-for="(item, index) in jzjcData" :key="index">
              <img :src="item.imgSrc" alt="">
              <div class="item-text">{{ item.name }}</div>
              <div class="item-value-wrap">
                <span class="item-value">{{ item.value }}</span>
                <span class="item-unit">{{ item.unit }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="xz-item">
        <div class="collapse-item-wrap">
          <div class="xz-item-title collapse-item in-right">
            {{ rightBottomTitle }}
          </div>
          <div class="chart-container hyjg">
            <div class="item" v-for="(item, index) in hyjgData" :key="index">
              <div class="icon-wrap">
                <div class="icon" :style="{ 'background-image': `url(${item.icon})` }"></div>
                <span>{{ item.name }}</span>
              </div>
              <div class="item-info">
                <div class="item-info-detail">
                  <div>{{ item.title1 }}</div>
                  <div>
                    <span class="value">{{ item.value1 }}</span>
                    <span class="unit">{{ item.dw1 }}</span>
                  </div>
                </div>
                <div class="item-info-detail">
                  <div>{{ item.title2 }}</div>
                  <div>
                    <span class="value">{{ item.value2 }}</span>
                    <span class="unit">{{ item.dw2 }}</span>
                  </div>
                </div>
                <div class="item-info-detail">
                  <div>{{ item.title3 }}</div>
                  <div>
                    <span class="value">{{ item.value3 }}</span>
                    <span class="unit">{{ item.dw3 }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../js/vue.min.js"></script>
  <script src="../js/element.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/select.js"></script>
  <script src="../js/echarts.min.js"></script>
  <script src="../js/moment.min.js"></script>
  <script src="../js/china.js"></script>
  <script src="../js/province.js"></script>
  <script src="../js/config.js"></script>
  <script>
    const myApp = new Vue({
      el: "#app",
      data: {
        userName: "管理员",
        navList: [
          {
            iconPath: "../../assets/images/xianzhuang/xianzhuang-icon.png",
            iconPathActive: "../../assets/images/xianzhuang/xianzhuang-active-icon.png",
            name: "现状",
            location: 'xianzhuang.html'
          },
          {
            iconPath: "../../assets/images/xianzhuang/yuce-icon.png",
            iconPathActive: "../../assets/images/xianzhuang/yuce-active-icon.png",
            name: "预测",
            location: 'yuce.html'
          },
          {
            iconPath: "../../assets/images/xianzhuang/diaodu-icon.png",
            iconPathActive: "../../assets/images/xianzhuang/diaodu-active-icon.png",
            name: "调度",
            location: 'diaodu.html'
          },
          {
            iconPath: "../../assets/images/xianzhuang/kaoping-icon.png",
            iconPathActive: "../../assets/images/xianzhuang/kaoping-active-icon.png",
            name: "评价",
            location: 'kaoping.html'
          },
          {
            iconPath: "../../assets/images/xianzhuang/jianzhu-icon.png",
            iconPathActive: "../../assets/images/xianzhuang/jianzhu-active-icon.png",
            name: "重点建筑监管",
            location: "jianzhu.html"
          },
          {
            iconPath: "../../assets/images/xianzhuang/hangye-icon.png",
            iconPathActive: "../../assets/images/xianzhuang/hangye-active-icon.png",
            name: "重点行业监管",
            location: "hangye.html"
          },
          {
            iconPath: "../../assets/images/xianzhuang/chanpin-icon.png",
            iconPathActive: "../../assets/images/xianzhuang/chanpin-active-icon.png",
            name: "技术产品",
            location: 'chanpin.html'
          },
          {
            iconPath: "../../assets/images/xianzhuang/shuju-icon.png",
            iconPathActive: "../../assets/images/xianzhuang/shuju-active-icon.png",
            name: "数据查询",
            location: 'data-query.html'
          }
        ],
        mapActive: 'china',
        leftBtnClass: '',
        rightBtnClass: '',
        year: 2023,
        yearOptions: [ 2023, 2022, 2021, 2020, 2019 ],
        type: 100,
        categories: [
          { categoryName: "城乡建设领域", value: 100, size: "medium" },
          { categoryName: "建筑运行", value: 10, size: "medium" },
          { categoryName: "城镇居建", value: 1, size: "small" },
          { categoryName: "公共建筑", value: 2, size: "small" },
          { categoryName: "农村居建", value: 3, size: "small" },
          { categoryName: "集中供暖", value: 4, size: "small" },
          { categoryName: "建筑业", value: 20, size: "medium" },
          { categoryName: "基础设施", value: 30, size: "medium" }
        ],
        currentYear: '2023',
        collapseGZDD: true,
        showMask: false,
        loadChart: {
          YNZB: true,
          cate2: true,
          GZDD: true
        },
        energyTypeList: [
          { label: "用能", type: 1 },
          { label: "排放", type: 2 },
        ],
        cate1: 2,
        cate2: 2,
        rankTableData: [],
        unit: "万平方米",
        jzjcData: [],
        hyjgData: [],
        resData: {},
        leftTopTitle: "",
        leftMiddleTitle: "",
        leftBottomTitle: "",
        rightMiddleTitle: "",
        rightBottomTitle: "",
        mapTitle: "",
        mapUnit: "",
        mapValue: "",
        region: 'china',
      },
      methods: {
        handleNavClick(item) {
          window.location.href = item.location;
        },

        fullScreenClick() {
          const isFullScreen = () => {
            return !! (
                    document.fullscreen ||
                    document.mozFullScreen ||
                    document.webkitIsFullScreen ||
                    document.webkitFullScreen ||
                    document.msFullScreen
            );
          }
          const de = document.documentElement;
          if (!isFullScreen()) {
            if (de.requestFullscreen) {
              de.requestFullscreen();
            } else if (de.mozRequestFullScreen) {
              de.mozRequestFullScreen();
            } else if (de.webkitRequestFullScreen) {
              de.webkitRequestFullScreen();
            }
          } else {
            if(document.exitFullscreen) {
              document.exitFullscreen();
            } else if(document.mozCancelFullScreen) {
              document.mozCancelFullScreen();
            } else if(document.webkitExitFullscreen) {
              document.webkitExitFullscreen();
            }
          }
        },

        /**
         * 绘制地图
         */
        drawMapChart() {
          const { map } = this.resData;
          const { dw, maps, title, value } = map;
          this.mapTitle = title;
          this.mapUnit = dw;
          this.mapValue = value.toString().split("");
          const tooltipDw = maps.length > 0 ? maps[0].dw : "";
          const that = this;
          const mapsKeyMap = {}
          let min = 0, max = 0;
          maps.forEach(item => {
            if (!min || item.value < min) {
              min = item.value;
            }
            if (!max || item.value > max) {
              max = item.value;
            }
            mapsKeyMap[item.region] = item;
          })
          const myChart = echarts.getInstanceById('mapContainer') || echarts.init(document.getElementById('mapContainer'))
          const currentYear = this.year;
          const loadMap = (features, mapData, zoom, provinceName) => {
            const geoCoordMap = {}
            features.forEach(item => {
              const {properties} = item
              const {cp, name} = properties
              geoCoordMap[name] = cp
            })
            const option = {
              silent: false,
              tooltip: {
                trigger: "item",
                show: true,
                textStyle: {
                  fontSize: 14,
                  color: "#fff",
                },
                borderWidth: 3,
                borderColor: 'rgba(10, 113, 174, 0.8)',
                backgroundColor: "rgba(0, 0, 0, 0.8)",
                extraCssText: "padding: 0;",
                formatter: function (params) {
                  if (params.data) {
                    return `
                      <div class="map-tooltip">
                          <div class="map-tooltip-header" style="border-bottom: 1px solid #5CB2E3; height: 40px; display: flex;align-items: center; padding: 0 10px;">
                              <div class="header-icon" style="width: 5px;height: 5px; border-radius: 50%; background: #1CD5FF; margin-right: 5px;"></div>
                              <div class="header-text">${ params.data.name }</div>
                          </div>
                          <div class="map-tooltip-content" style="padding: 10px 10px 10px 18px;">
                              <div class="content-item">年度: ${currentYear}年</div>
                              <div class="content-item">${title}: <span style="color: #FBEE16;font-weight: 600;">${params.data.value.length > 1 ? params.data.value[params.data.value.length - 1] : params.data.value}</span> ${tooltipDw}</div>
                          </div>
                      </div>
                    `
                  } else {
                    return ''
                  }
                }
              },
              geo: {
                map: provinceName,
                roam: false,
                zoom,
                itemStyle: {
                  borderColor: '#84B2FD',
                  color: 'transparent',
                  borderWidth: 8,
                },
                regions: [
                  {
                    name: '南海诸岛',
                    itemStyle: {
                      normal: {
                        opacity: 0
                      }
                    },
                    label: {
                      show: false
                    }
                  }
                ]
              },
              visualMap: {
                min,
                max,
                calculable: true,
                inRange: {
                  color: ['#115C9E', '#16EB9C']
                },
                padding: [0, 0, 50, 50],
                textStyle: {
                  color: '#fff'
                },
                text: ['高', '低'],
              },
              series: [{
                map: provinceName,
                type: 'map',
                zoom,
                roam: false,
                coordinateSystem: 'geo',
                selectedMode: 'single',
                showLegendSymbol: true,
                itemStyle: {
                  borderWidth: 1,
                  borderColor: '#84B2FD',
                  color: 'transparent'
                },
                data: mapData,
                emphasis: {
                  //当鼠标放上去  地区区域是否显示名称
                  label: {
                    show: true,
                    color: "#fff",
                    backgroundColor: "rgba(0, 0, 0, .25)",
                  },
                  itemStyle: {
                    color: '#fcf565'
                  },
                },
                select: {
                  label: {
                    show: true,
                    color: "#fff"
                  }
                },
                label: {
                  show: true,
                  color: '#fff',
                  position: 'top',
                  fontSize: 12,
                  padding: 10
                }
              }]
            }
            myChart.setOption(option)
          }
          if (this.region === "china") {
            $.get(`../assets/mapJson/全国.json`, function (data) {
              // echarts.registerMap('china', data) 显示南海九段线
              echarts.getMap("china").geoJson.features;
              loadMap(data.features, data.features.map(item => {
                if (mapsKeyMap.hasOwnProperty(item.properties.name)) {
                  return {
                    name: item.properties.name,
                    value: mapsKeyMap[item.properties.name].value
                  }
                } else {
                  return {
                    name: item.properties.name,
                    value: 0
                  }
                }
              }), 1.2, 'china')
            })
            myChart.on('click',  params => {
              const { name: provinceName } = params;
              this.region = provinceName
              this.handleChange();
            })
          } else {
            $.get(`../assets/mapJson/${that.region}.json`, function (data) {
              echarts.registerMap(that.region, data);
              loadMap(data.features, data.features.map(item => {
                if (mapsKeyMap.hasOwnProperty(item.properties.name)) {
                  return {
                    name: item.properties.name,
                    value: mapsKeyMap[item.properties.name].value
                  }
                } else {
                  return {
                    name: item.properties.name,
                    value: 0
                  }
                }
              }), 0.9, that.region)
            })
          }
        },

        /**
         * 绘制用能消费总量/碳排放总量图表
         */
        drawXFTPFChart(showDataZoom = true) {
          const { left_top } = this.resData;
          const { dw, legend, title, x_name, y_data } = left_top;
          this.leftTopTitle = title;
          const myChart = echarts.init(document.getElementById('cate1'));
          const dataZoom = showDataZoom && [
            {
              type: 'slider',
              startValue: 0,
              endValue: 7,
              bottom: '20',
              left: '30',
              height: 10,
              borderColor: '#1479A1',
              textStyle: {
                color: '#05D5FF',
              },
              backgroundColor: '#032E5C',
              dataBackground: {
                lineStyle: { color: 'rgba(250, 84, 28, .3)' },
                areaStyle: { color: 'rgba(250, 84, 28, .5)' }
              },
              moveHandleStyle: {
                color: 'rgba(38, 203, 251, 1)',
                borderColor: 'rgba(38, 203, 251, 1)'
              },
              fillerColor: 'rgba(250, 84, 28, .1)'
            }
          ]
          const option = {
            backgroundColor:  'transparent',
            tooltip: {
              trigger: 'axis',
              axisPointer: {
                type: 'shadow'
              },
              confine: true,
              formatter: function(params){
                let relVal = `${params[0].name}`;
                let prefix
                for (let i = 0, l = params.length; i < l; i++) {
                  prefix = `<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color: ${params[i].color.colorStops[0].color}"></span>`
                  relVal += '<br/>' + prefix + `${params[i].seriesName}` + ' : ' + `${params[i].value} ${dw}`;
                }
                return relVal;
              }
            },
            grid: {
              top: showDataZoom ? '25%' : '20%',
              left: showDataZoom ? '3%' : '2%',
              right: showDataZoom ?'3%' : '2%',
              bottom: showDataZoom ? '15%' : '10%',
              containLabel: true
            },
            legend: {
              x:'right',
              y:'top',
              padding: [20, 30, 0, 0],
              itemGap: 10,
              data: legend,
              textStyle: {
                color: '#fff',
                fontSize: '.12rem'
              },
              itemWidth: 10,
              itemHeight: 4,
              icon: "rectangle"
            },
            xAxis: [
              {
                type: "category",
                axisTick: {
                  show: false,
                },
                axisLine: {
                  lineStyle: {
                    color: 'rgba(255, 255, 255, .05)'
                  }
                },
                data: x_name,
                axisLabel: {
                  margin: 10,
                  fontSize: '.1rem',
                  formatter: "{value}",
                  color: '#fff',
                  rotate: 45
                }
              },
            ],
            yAxis: [
              {
                type: "value",
                name: `单位：${dw}`,
                nameTextStyle: {
                  color: "#fff",
                  fontSize: "",
                  padding: [0, 0, 0, 15],
                },
                show: true,
                axisTick: {
                  show: false,
                },
                axisLine: {
                  show: false,
                },
                splitLine: {
                  show: true,
                  lineStyle: {
                    color: "rgba(255, 255, 255, .09)"
                  }
                },
                axisLabel: {
                  fontSize: '.12rem',
                  color: '#fff'
                }
              },
            ],
            dataZoom,
            series: [
              {
                name: legend[0],
                type: "bar",
                barWidth: 8,
                itemStyle: {
                  borderWidth: 2,
                  color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [
                    {
                      offset: 0,
                      color: "#F5804D",
                    },
                    {
                      offset: 1,
                      color: '#FCCB05'
                    }
                  ]),
                  borderRadius: 3
                },
                data: y_data[0],
              },
              {
                name: legend[1],
                type: "bar",
                barWidth: 8,
                barGap: "50%",
                label: {
                  show: false
                },
                itemStyle: {
                  borderWidth: 2,
                  color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [
                    {
                      offset: 0,
                      color: "#6851F1",
                    },
                    {
                      offset: 1,
                      color: '#248FF7'
                    }
                  ]),
                  borderRadius: 3
                },
                data: y_data[1]
              }
            ]
          };
          myChart.setOption(option)
        },

        /**
         * 绘制碳排放预测图表
         */
        drawcate2Chart(showDataZoom = true) {
          const { left_middle } = this.resData;
          const { dw, legend, title, x_name, y_data } = left_middle;
          this.leftMiddleTitle = title;
          const myChart = echarts.init(document.getElementById('cate2'));
          const option = {
            backgroundColor: 'transparent',
            tooltip: {
              trigger: 'axis',
              confine: true
            },
            legend: {
              x: 'right',
              y: 'top',
              padding: [20, 10, 0, 0],
              itemGap: 5,
              data: legend,
              textStyle: {
                color: '#fff',
                fontSize: '.12rem'
              },
              itemWidth: 10,
              itemHeight: 4,
              icon: "rectangle"
            },
            grid: {
              top: '20%',
              left: '3%',
              right: '3%',
              bottom: '5%',
              containLabel: true
            },
            xAxis: {
              type: 'category',
              data: x_name,
              axisTick: {
                show: false,
              },
              axisLine: {
                lineStyle: {
                  color: 'rgba(255, 255, 255, .05)'
                }
              },
              axisLabel: {
                margin: 10,
                fontSize: '.1rem',
                formatter: "{value}",
                color: '#fff',
                rotate: 45
              }
            },
            yAxis: {
              type: "value",
              name: `单位：${dw}`,
              nameTextStyle: {
                color: "#fff",
                fontSize: "",
                padding: [-15, 0, 0, 0],
              },
              show: true,
              axisTick: {
                show: false,
              },
              axisLine: {
                show: false,
                lineStyle: {
                  color: "rgba(255, 255, 255, .09)"
                }
              },
              splitLine: {
                show: true,
                lineStyle: {
                  color: "rgba(255, 255, 255, .09)"
                }
              },
              axisLabel: {
                fontSize: '.12rem',
                color: '#fff'
              }
            },
            series: [
              {
                name: legend[0],
                data: y_data[0],
                type: 'line',
                smooth: true,
                lineStyle: {
                  color: '#F3B330'
                },
                symbolSize: 5,
                symbol: 'circle',
                itemStyle: {
                  barBorderRadius: [30, 30, 0, 0],
                  color: '#F3B330',
                  borderColor: '#fff'
                }
              },
              {
                name: legend[1],
                data: y_data[1],
                type: 'line',
                smooth: true,
                lineStyle: {
                  color: '#D35700'
                },
                symbolSize: 5,
                symbol: 'circle',
                itemStyle: {
                  barBorderRadius: [30, 30, 0, 0],
                  color: '#D35700',
                  borderColor: '#fff'
                }
              },
              {
                name: legend[2],
                data: y_data[2],
                type: 'line',
                smooth: true,
                lineStyle: {
                  color: '#00C900'
                },
                symbolSize: 5,
                symbol: 'circle',
                itemStyle: {
                  barBorderRadius: [30, 30, 0, 0],
                  color: '#00C900',
                  borderColor: '#fff'
                }
              }
            ]
          }
          myChart.setOption(option)
        },

        /**
         * 绘制工作调度图表
         */
        drawGZDDChart(showDataZoom = true) {
          const { left_bottom } = this.resData;
          const { dw, title, x_name, y_data } = left_bottom;
          this.leftBottomTitle = title;
          const myChart = echarts.init(document.getElementById('gzdd'));
          const dataZoom = showDataZoom && [
            {
              type: 'slider',
              startValue: 0,
              endValue: 12,
              bottom: '20',
              left: '30',
              height: 10,
              borderColor: '#1479A1',
              textStyle: {
                color: '#05D5FF',
              },
              backgroundColor: '#032E5C',
              dataBackground: {
                lineStyle: { color: 'rgba(250, 84, 28, .3)' },
                areaStyle: { color: 'rgba(250, 84, 28, .5)' }
              },
              moveHandleStyle: {
                color: 'rgba(38, 203, 251, 1)',
                borderColor: 'rgba(38, 203, 251, 1)'
              },
              fillerColor: 'rgba(250, 84, 28, .1)'
            }
          ]
          const option = {
            backgroundColor: 'transparent',
            tooltip: {
              trigger: 'axis',
              confine: true,
              formatter: function(params){
                let relVal = `${params[0].name}`;
                let prefix
                for (let i = 0, l = params.length; i < l; i++) {
                  prefix = `<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color: ${params[i].color}"></span>`
                  relVal += '<br/>' + prefix + `${params[i].seriesName}` + ' : ' + `${params[i].value} ${dw}`;
                }
                return relVal;
              },
              axisPointer: {
                type: 'cross',
                crossStyle: {
                  axisPointer: {
                    type: 'cross',
                    crossStyle: {
                      color: '#fff'
                    },
                    lineStyle: {
                      type: 'dashed'
                    }
                  }
                },
                lineStyle: {
                  type: 'dashed'
                }
              }
            },
            grid: {
              top: '20%',
              left: '2%',
              right: '2%',
              bottom: '15%',
              containLabel: true
            },
            xAxis: [
              {
                type: "category",
                axisTick: {
                  show: true
                },
                axisLine: {
                  lineStyle: {
                    color: 'rgba(255, 255, 255, .05)'
                  }
                },
                data: x_name,
                axisLabel: {
                  margin: 10,
                  fontSize: '.12rem',
                  formatter: "{value}",
                  color: '#fff',
                  rotate: 45
                }
              },
            ],
            yAxis: {
              type: "value",
              name: `单位：${dw}`,
              position: 'left',
              nameTextStyle: {
                color: "#fff",
                fontSize: "0.12rem",
                padding: [0, 0, 0, 5],
              },
              show: true,
              axisTick: {
                show: false,
              },
              axisLine: {
                show: false,
              },
              splitLine: {
                show: true,
                lineStyle: {
                  color: "rgba(255, 255, 255, .15)"
                }
              },
              axisLabel: {
                fontSize: '.12rem',
                color: '#fff'
              }
            },
            dataZoom,
            series: {
              name: "减碳贡献度",
              type: "bar",
              barWidth: 12,
              itemStyle: {
                borderWidth: 1,
                color: data => {
                  return parseFloat(data.value) < 0 ? '#0B7062' : '#FCA805'
                },
                borderColor: data => {
                  return parseFloat(data.value) < 0 ? '#15FED1' : '#F3A603'
                },
                borderRadius: 2
              },
              data: y_data,
            }
          };
          myChart.setOption(option)
        },

        /**
         * 获取新增减碳能力排名数据
         */
        drawJTNLChart() {
          const rankTableData = [
            { year: "北京", task: 236, real: 244, cut: 0, },
            { year: "上海", task: 239.5, real: 246.1, cut: 0 },
            { year: "天津", task: 213.7, real: 213.2, cut: 0 },
            { year: "重庆", task: 218.4, real: 220.5, cut: 0 },
            { year: "杭州", task: 285.6, real: 213.4, cut: 0 },
            { year: "南昌", task: 235.2, real: 212.5, cut: 0 },
            { year: "长沙", task: 214.1, real: 213.1, cut: 0 },
            { year: "武汉", task: 214.2, real: 231.2, cut: 0 },
            { year: "北海", task: 261.5, real: 259.3, cut: 0 },
            { year: "南京", task: 212, real: 216.2, cut: 0 }
          ]
          rankTableData.forEach(item => {
            item.cut = (item.real - item.task).toFixed(2)
          })
          this.rankTableData = rankTableData;
        },

        handleMapChina() {
          this.region = 'china';
          this.handleChange();
        },

        handleChange() {
          const that = this;
          const { cate1, cate2, type } = this;
          let region;
          if (this.region !== "china") {
            if (this.region.indexOf("市") > -1) {
              region = this.region.replace("市", "")
            } else if (this.region.indexOf("省") > -1) {
              region = this.region.replace("省", "")
            } else if (this.region.indexOf("自治区") > -1) {
              const keyMap = {
                "内蒙古自治区": "内蒙古",
                "广西壮族自治区": "广西",
                "西藏自治区": "西藏",
                "宁夏回族自治区": "宁夏",
                "新疆维吾尔自治区": "新疆"
              }
              region = keyMap[this.region]
            } else {
              region = this.region;
            }
          }
          const loading = this.$loading({
            text: "数据加载中...",
            background: 'rgba(0, 0, 0, 0.25)'
          });
          $.get(`${severUrl}/Newsy/index`, {
            cate1,
            cate2,
            type,
            isfirst: 0
          }, function(data) {
            loading.close();
            that.resData = data;
            that.drawXFTPFChart();
            that.drawcate2Chart();
            that.drawGZDDChart();
            that.drawJTNLChart();
            that.drawMapChart();
          })
        },

        handleToggleEnergy(energyType, typeValue) {
          this[energyType] = typeValue;
          this.handleChange();
        },

        handleCollapseClick(field) {
          const itemField = `collapse${field}`
          const collapseEl = $(`.${itemField}`).parents('.collapse-item-wrap');
          const height = collapseEl.height()
          const offset = collapseEl.offset();
          const mapContainerEl = $("#mapContainer");
          const leftPosKeyMap = {
            "GZDD": {
              height: `${height + 100}px`,
              top: `${offset.top - 100}px`,
            }
          }
          if (this[itemField]) {
            this[`${itemField}Width`] = collapseEl.width();
            this[`${itemField}Height`] = collapseEl.height();
            this[`${itemField}Top`] = offset.top;
            this[itemField] = false;
            this.showMask = true;
            if (leftPosKeyMap.hasOwnProperty(field)) {
              const { height, top } = leftPosKeyMap[field]
              collapseEl.css({
                position: 'fixed',
                height,
                top,
                left: `${offset.left}px`,
                zIndex: 2000,
                backdropFilter: 'blur(300px)'
              })
            }
            this.loadChart[field] = false;
            collapseEl.stop().animate({
              width: `${mapContainerEl.offset().left - 15 + mapContainerEl.width()}`
            }, 200)
            setTimeout(() => {
              this.loadChart[field] = true;
              this.$nextTick(() => {
                this[`draw${field}Chart`](false);
              })
            }, 200)
          } else {
            this[itemField] = true;
            this.showMask = false;
            collapseEl.css({
              backgroundColor: 'transparent'
            })
            this.loadChart[field] = false;
            collapseEl.stop().animate({
              position: 'static',
              width: this[`${itemField}Width`],
              height: this[`${itemField}Height`],
              top: this[`${itemField}Top`],
              zIndex: 0
            }, 200)
            setTimeout(() => {
              this.loadChart[field] = true;
              this.$nextTick(() => {
                this[`draw${field}Chart`]();
              })
            }, 200)
          }
        },

        handleCategoryClick({ value }) {
          this.type = value;
          this.handleChange();
        },

        /**
         * 重点建筑检测数据处理
         */
        getJZJCData() {
          const { right_middle } = this.resData;
          const { title } = right_middle;
          this.rightMiddleTitle = title;
          this.jzjcData = [
            { imgSrc: "../assets/images/index/已接入建筑数量.png", name: right_middle.name1, value: right_middle.value1, unit: right_middle.dw1 },
            { imgSrc: "../assets/images/index/已接入建筑面积.png", name: right_middle.name2, value: right_middle.value2, unit: right_middle.dw2 },
            { imgSrc: "../assets/images/index/电耗强度.png", name: right_middle.name3, value: right_middle.value3, unit: right_middle.dw3 },
            { imgSrc: "../assets/images/index/碳排放强度.png", name: right_middle.name4, value: right_middle.value4, unit: right_middle.dw4 }
          ]
        },

        /**
         * 重点行业监管数据处理
         */
        getHYJGData() {
          const iconKeyMap = {
            "医疗卫生": "../assets/images/index/医院.png",
            "文化教育": "../assets/images/index/学校.png",
            "宾馆饭店": "../assets/images/index/文旅.png"
          }
          const { right_bottom } = this.resData;
          const { title, data } = right_bottom;
          this.rightBottomTitle = title;
          this.hyjgData = data.map(item => {
            return {
              ...item,
              icon: iconKeyMap[item.name]
            }
          })
        },

        modelClick() {
          window.open('model.html')
        }
      },
      computed: {
        navLeft() {
          return this.navList.slice(0, 4)
        },
        navRight() {
          return this.navList.slice(4)
        },
        provinceData() {
          return provinceData
        }
      },
      watch: {
        mapActive: {
          immediate: true,
          handler(mapActive) {
            if (mapActive === 'china') {
              this.leftBtnClass = 'area-group-item area-group-item--active'
              this.rightBtnClass = 'area-group-item left-active'
            } else {
              this.leftBtnClass = 'area-group-item right-active'
              this.rightBtnClass = 'area-group-item area-group-item--active'
            }
          }
        }
      },
      mounted() {
        this.$nextTick(() => {
          const that = this;
          const { cate1, cate2, type } = this;
          const loading = this.$loading({
            text: "数据加载中...",
            background: 'rgba(0, 0, 0, 0.25)'
          });
          $.get(`${severUrl}/Newsy/index`, {
            cate1,
            cate2,
            type,
            isfirst: 1
          }, function(data) {
            loading.close();
            that.resData = data;
            that.drawXFTPFChart();
            that.drawcate2Chart();
            that.drawGZDDChart();
            that.drawJTNLChart();
            that.drawMapChart();
            that.getJZJCData();
            that.getHYJGData();
          }).fail(function (err) {
            loading.close();
            that.$message.warning("系统错误")
          })
        })
      }
    })
  </script>
</div>
</body>
</html>
