<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>城乡建设领域碳排放监测管理平台</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/elementUI.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/page/yuce.css">
</head>
<body>
<div id="app">
    <div class="sys-title">城乡建设领域碳排放监测管理平台</div>

    <!-- header -->
    <div class="sys-header">
        <div class="full-screen iconfont" @click="fullScreenClick">&#xe607;</div>
        <div class="home" @click="handleHomeClick">
            <div class="home-icon iconfont">&#xe751;</div>
            <span class="home-text">首页</span>
        </div>
        <div class="nav">
            <ul class="nav-left">
                <li v-for="(item, index) in navLeft"
                    :class="[item.navName, item.active && 'nav-active']"
                    :key="index"
                    @click="handleNavClick(item)">
                    <div class="nav-icon"></div>
                    <div class="nav-name">{{ item.name }}</div>
                </li>
            </ul>
            <div class="sys-title-placeholder"></div>
            <ul class="nav-right">
                <li v-for="(item, index) in navRight" :class="[item.active && 'nav-active', item.navName]" :key="index" @click="handleNavClick(item)">
                    <div class="nav-icon"></div>
                    <div class="nav-name" v-if="item.name.length <= 4">{{ item.name }}</div>
                    <dl class="nav-name" v-else>
                        <dt>{{ item.name.substring(0, 4) }}</dt>
                        <dd>{{ item.name.substring(4) }}</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="header-right-line"></div>
        <div class="header-right">
            <div class="header-right-top">
                <img class="avatar"
                     src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png"/>
                <div class="text">
                    <span>欢迎您！</span>
                    <a>{{ userName }}</a>
                </div>
            </div>
            <div class="header-right-bottom">{{ dateTime }}</div>
        </div>
    </div>

    <!-- 地区切换 -->
    <div class="sys-toggle-area">
        <template v-if="region === 'china'">
            <div class="area-group">
                <div :class="leftBtnClass" @click="handleDqClick('1')">全国</div>
<!--                <div :class="rightBtnClass" @click="handleDqClick('2')">各地</div>-->
            </div>
            <div class="area-line"></div>
        </template>
        <div class="category">
            <div class="category-item"
                 :class="[
              item.value === type && 'category-item--active',
              item.size === 'small' && 'category-item-small'
           ]"
                 v-for="(item, index) in categories"
                 :key="index"
                 @click="handleCategoryClick(item)">{{ item.categoryName }}
            </div>
        </div>
    </div>

    <!-- 系统内容部分 -->
    <div class="container">
        <div class="layout-ele">
            <div class="yc-item">
                <div class="yc-item-title">{{ leftTopTitle }}</div>
                <div class="chart-container" id="xfzl"></div>
            </div>
            <div class="yc-item">
                <div class="yc-item-title">{{ leftMiddleTitle }}</div>
                <div class="chart-container" id="pfzl"></div>
            </div>
            <div class="yc-item">
                <div class="yc-item-title">{{ leftBottomTitle }}</div>
                <div class="chart-toggle-group">
                    <div class="group-item"
                         :class="[cate === '1' && 'group-item--active']"
                         @click="handlePFQDToggle('1')">用能
                    </div>
                    <div class="group-item"
                         :class="[cate === '2' && 'group-item--active']"
                         @click="handlePFQDToggle('2')">排放
                    </div>
                </div>
                <div class="chart-container" id="pfqd"></div>
            </div>
        </div>
        <div class="layout-ele">
            <div class="map-wrap">
                <div class="map-back" v-show="region !== 'china'" @click="handleMapChina">返回全国</div>
                <div class="map" id="mapContainer"></div>
            </div>
            <div class="df-area" v-if="region === 'china'">
                <div class="df-area-item">
                    <div class="item-title">{{ bottom1Title }}</div>
                    <div class="table-wrap">
                        <el-table
                                :data="alreadyAreaData"
                                :height="areaTableHeight"
                                style="width: 100%">
                            <el-table-column
                                prop="region"
                                label="省（市）"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="value"
                                label="峰值"
                                align="center">
                                <template #default="{ row }">
                                    <span class="peak-value">{{ row.value }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="year"
                                label="达峰年度"
                                align="center">
                            </el-table-column>
                        </el-table>
                    </div>
                </div>
                <div class="df-area-item">
                    <div class="item-title">{{ bottom2Title }}</div>
                    <div class="table-wrap">
                        <el-table
                            :data="notReachedAreaData"
                            :height="areaTableHeight"
                            style="width: 100%">
                            <el-table-column
                                prop="region"
                                label="省（市）"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="value"
                                label="峰值"
                                align="center">
                                <template #default="{ row }">
                                    <span class="peak-value">{{ row.value }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="year"
                                label="达峰年度"
                                align="center">
                            </el-table-column>
                        </el-table>
                    </div>
                </div>
            </div>
            <div class="scene" v-else>
                <div class="scene-item">
                    <div class="scene-item-title">
                        {{ resData.bottom1.name }}
                        <div class="title-bg"></div>
                    </div>
                    <div class="scene-item-content">
                        <div class="item">
                            <div class="icon"></div>
                            <span>{{ resData.bottom1.name1 }}</span>
                            <span class="value">{{ resData.bottom1.value1 }}</span>
                            <span>{{ resData.bottom1.dw1 }}</span>
                        </div>
                        <div class="item">
                            <div class="icon"></div>
                            <span>{{ resData.bottom1.name2 }}</span>
                            <span class="value">{{ resData.bottom1.value2 }}</span>
                            <span>{{ resData.bottom1.dw2 }}</span>
                        </div>
                    </div>
                </div>
                <div class="scene-item">
                    <div class="scene-item-title">
                        省级达峰方案情景
                        <div class="title-bg"></div>
                    </div>
                    <div class="scene-item-content">
                        <div class="item">
                            <div class="icon"></div>
                            <span>{{ resData.bottom2.name1 }}</span>
                            <span class="value">{{ resData.bottom2.value1 }}</span>
                            <span>{{ resData.bottom2.dw1 }}</span>
                        </div>
                        <div class="item">
                            <div class="icon"></div>
                            <span>{{ resData.bottom2.name2 }}</span>
                            <span class="value">{{ resData.bottom2.value2 }}</span>
                            <span>{{ resData.bottom2.dw2 }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-ele layout-ele-right">
            <div class="yc-item" style="height: 3.3rem; flex: none;">
                <div class="scene-tab">
                    <div class="scene-tab-item"
                         :class="{ 'active': qj === item.typeValue }"
                         v-for="(item, index) in sceneTypeList"
                         :key="index"
                         @click="handleToggleSceneData(item.typeValue)">{{ item.typeName }}
                    </div>
                </div>
                <div class="scene-tab-panel">
                    <div class="yc-item-title">
                        <span>{{ rightTopTitle }}</span>
                    </div>
                    <div class="scene-data-container">
                        <div class="data-item" v-for="(item, index) in sceneDataList" :key="index">
                            <div class="data-item-name">{{ item.name }}</div>
                            <div class="data-item-value">
                                <span class="value">{{ item.value }}</span>
                                <span class="unit">{{ item.dw }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="yc-item">
                <div class="scene-tab-panel">
                    <div class="yc-item-title">
                        <span>{{ rightMiddleTitle }}</span>
                    </div>
                    <div id="contributionRate" class="chart-container"></div>
                </div>
            </div>
            <div class="yc-item economic-cost" style="height: 3.1rem; flex: none;">
                <div class="scene-tab-panel">
                    <div class="yc-item-title">
                        <span>{{ rightBottomTitle }}</span>
                    </div>
                    <div class="scene-data-container">
                        <div class="data-item" v-for="(item, index) in economicCostDataList" :key="index">
                            <div class="data-item-name">{{ item.name }}</div>
                            <div class="data-item-value">
                                <span class="value" :class="{ 'warning': item.value > 90000 }">{{ item.value }}</span>
                                <span class="unit">{{ item.dw }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/vue.min.js"></script>
<script src="../js/element.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/select.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/moment.min.js"></script>
<script src="../js/china.js"></script>
<script src="../js/province.js"></script>
<script src="../js/config.js"></script>
<script>
    const myApp = new Vue({
        el: "#app",
        data: {
            userName: "管理员",
            navList: [
                {
                    navName: "xianzhuang",
                    name: "现状",
                    location: 'xianzhuang.html',
                },
                {
                    navName: "yuce",
                    name: "预测",
                    location: 'yuce.html',
                    active: true
                },
                {
                    navName: "diaodu",
                    name: "调度",
                    location: 'diaodu.html'
                },
                {
                    navName: "kaoping",
                    name: "评价",
                    location: 'kaoping.html'
                },
                {
                    navName: "jianzhu",
                    name: "重点建筑监管",
                    location: "jianzhu.html"
                },
                {
                    navName: "hangye",
                    name: "重点行业监管",
                    location: "hangye.html"
                },
                {
                    navName: "chanpin",
                    name: "技术产品",
                    location: 'chanpin.html'
                },
                {
                    navName: "chaxun",
                    name: "数据查询",
                    location: 'data-query.html'
                }
            ],
            year: 2023,
            yearOptions: [2023, 2022, 2021, 2020, 2019],
            type: 100,
            categories: [
                {categoryName: "城乡建设领域", value: 100, size: "medium"},
                {categoryName: "建筑运行", value: 10, size: "medium"},
                {categoryName: "城镇居建", value: 1, size: "small"},
                {categoryName: "公共建筑", value: 2, size: "small"},
                {categoryName: "农村居建", value: 3, size: "small"},
                {categoryName: "集中供暖", value: 4, size: "small"},
                {categoryName: "建筑业", value: 20, size: "medium"},
                {categoryName: "基础设施", value: 30, size: "medium"}
            ],
            // 排放强度
            cate: "1",
            dateTime: moment(new Date()).format('YYYY/MM/DD HH:mm:ss'),
            dateTimer: null,
            currentYear: '2023',
            region: 'china',
            leftBtnClass: '',
            rightBtnClass: '',
            alreadyAreaData: [],
            alreadyAreaTableColumn: [],
            notReachedAreaData: [],
            notReachedAreaTableColumn: [],
            areaTableHeight: 0,
            dq: "1",
            qj: "1",
            sceneTypeList: [
                {
                    typeName: "无政策情景",
                    typeValue: "1"
                },
                // {
                //     typeName: "2030年达峰情景",
                //     typeValue: "2"
                // }
            ],
            sceneDataList: [],
            economicCostDataList: [],
            resData: {},
            leftTopTitle: "",
            leftMiddleTitle: "",
            leftBottomTitle: "",
            rightTopTitle: "",
            rightMiddleTitle: "",
            rightBottomTitle: "",
            bottom1Title: "",
            bottom2Title: ""
        },
        methods: {
            handleYearClick(yearDate) {
                this.year = yearDate;
                const ele = $('.cx-select');
                ele.find('.cx-option').slideUp();
                ele.hasClass('focus')
                    ? ele.removeClass('focus')
                    : ele.addClass('focus')
            },

            handleCategoryClick({value}) {
                this.type = value;
                this.handleChange();
            },

            /**
             * 绘制消费总量图表
             */
            drawXFZLChart() {
                const { left_top } = this.resData;
                const { dw, legend, title, x_name, y_data } = left_top;
                this.leftTopTitle = title;
                const myChart = echarts.init(document.getElementById('xfzl'));
                const option = {
                    backgroundColor: 'transparent',
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        },
                        confine: true,
                        formatter: function (params) {
                            let relVal = `${params[0].name}`;
                            let prefix
                            for (let i = 0, l = params.length; i < l; i++) {
                                prefix = `<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color: ${params[i].color}"></span>`
                                relVal += '<br/>' + prefix + `${params[i].seriesName}` + ' : ' + `${params[i].value} ${dw}`;
                            }
                            return relVal;
                        }
                    },
                    legend: {
                        x: 'right',
                        y: 'top',
                        itemGap: 5,
                        padding: [15, 15, 0, 0],
                        data: legend,
                        textStyle: {
                            color: '#fff',
                            fontSize: '.12rem'
                        },
                        itemWidth: 10,
                        itemHeight: 4
                    },
                    grid: {
                        top: '20%',
                        left: '3%',
                        right: '5%',
                        bottom: '5%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'category',
                        data: x_name,
                        axisTick: {
                            show: false,
                        },
                        axisLine: {
                            lineStyle: {
                                color: 'rgba(255, 255, 255, .05)'
                            }
                        },
                        axisLabel: {
                            margin: 10,
                            fontSize: '.1rem',
                            formatter: "{value}",
                            color: '#fff',
                            rotate: 45
                        }
                    },
                    yAxis: {
                        type: "value",
                        name: dw,
                        nameTextStyle: {
                            color: "#fff",
                            fontSize: "",
                            padding: [-15, 0, 0, -50],
                        },
                        show: true,
                        axisTick: {
                            show: false,
                        },
                        axisLine: {
                            show: false,
                            lineStyle: {
                                color: "rgba(255, 255, 255, .09)"
                            }
                        },
                        splitLine: {
                            show: true,
                            lineStyle: {
                                color: "rgba(255, 255, 255, .09)"
                            }
                        },
                        axisLabel: {
                            fontSize: '.12rem',
                            color: '#fff'
                        }
                    },
                    series: [
                        {
                            name: legend[0],
                            data: y_data[0],
                            type: 'line',
                            smooth: true,
                            lineStyle: {
                                color: '#F3B330'
                            },
                            symbolSize: 5,
                            symbol: 'circle',
                            itemStyle: {
                                barBorderRadius: [30, 30, 0, 0],
                                color: '#F3B330',
                                borderColor: '#fff'
                            }
                        },
                        {
                            name: legend[1],
                            data: y_data[1],
                            type: 'line',
                            smooth: true,
                            lineStyle: {
                                color: '#D35700'
                            },
                            symbolSize: 5,
                            symbol: 'circle',
                            itemStyle: {
                                barBorderRadius: [30, 30, 0, 0],
                                color: '#D35700',
                                borderColor: '#fff'
                            }
                        },
                        {
                            name: legend[2],
                            data: y_data[2],
                            type: 'line',
                            smooth: true,
                            lineStyle: {
                                color: '#00C900'
                            },
                            symbolSize: 5,
                            symbol: 'circle',
                            itemStyle: {
                                barBorderRadius: [30, 30, 0, 0],
                                color: '#00C900',
                                borderColor: '#fff'
                            }
                        }
                    ]
                }
                myChart.setOption(option)
            },

            /**
             * 绘制排放总量图表
             */
            drawPFZLChart() {
                const { left_middle } = this.resData;
                const { dw, legend, title, x_name, y_data } = left_middle;
                this.leftMiddleTitle = title;
                const chartContainer = document.getElementById('pfzl');
                chartContainer.removeAttribute('_echarts_instance_');
                const myChart = echarts.init(chartContainer);
                const colorList = ["#F5804D", "#09BCB7", "#eada1f", ]
                const series = legend.map((name, index) => {
                    return {
                        name,
                        type: 'line',
                        smooth: true,
                        symbolSize: 5,
                        symbol: 'circle',
                        itemStyle: {
                            barBorderRadius: [30, 30, 0, 0],
                            color: colorList[index],
                            borderColor: '#fff'
                        },
                        data: y_data[index]
                    }
                })
                const option = {
                    backgroundColor: 'transparent',
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        },
                        confine: true,
                        formatter: function (params) {
                            let relVal = `${params[0].name}`;
                            let prefix
                            for (let i = 0, l = params.length; i < l; i++) {
                                prefix = `<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color: ${params[i].color}"></span>`
                                relVal += '<br/>' + prefix + `${params[i].seriesName}` + ' : ' + `${params[i].value} ${dw}`;
                            }
                            return relVal;
                        }
                    },
                    grid: {
                        top: '25%',
                        left: '3%',
                        right: '5%',
                        bottom: '5%',
                        containLabel: true
                    },
                    legend: {
                        x: 'right',
                        y: 'top',
                        itemGap: 5,
                        padding: [15, 15, 0, 0],
                        data: legend,
                        textStyle: {
                            color: '#fff',
                            fontSize: '.12rem'
                        },
                        itemWidth: 10,
                        itemHeight: 4
                    },
                    xAxis: [
                        {
                            type: "category",
                            axisTick: {
                                show: false,
                            },
                            axisLine: {
                                lineStyle: {
                                    color: 'rgba(255, 255, 255, .05)'
                                }
                            },
                            data: x_name,
                            axisLabel: {
                                margin: 10,
                                fontSize: '.1rem',
                                formatter: "{value}",
                                color: '#fff',
                                rotate: 45
                            }
                        },
                    ],
                    yAxis: [
                        {
                            type: "value",
                            name: dw,
                            nameTextStyle: {
                                color: "#fff",
                                fontSize: "",
                                padding: [0, 0, 0, -20],
                            },
                            show: true,
                            axisTick: {
                                show: false,
                            },
                            axisLine: {
                                show: false,
                            },
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    color: "rgba(255, 255, 255, .09)"
                                }
                            },
                            axisLabel: {
                                fontSize: '.12rem',
                                color: '#fff'
                            }
                        },
                    ],
                    series
                };
                myChart.setOption(option)
            },

            /**
             * 绘制排放强度图表
             */
            drawPFQDChart() {
                const { left_bottom } = this.resData;
                const { dw, legend, title, x_name, y_data } = left_bottom;
                this.leftBottomTitle = title;
                const chartContainer = document.getElementById('pfqd');
                chartContainer.removeAttribute('_echarts_instance_');
                const myChart = echarts.init(chartContainer);
                const colorList = ["#F3B330", "#62FFF9", "#12fe01", "#e77071"]
                const series = legend.map((name, index) => {
                    return {
                        name,
                        type: 'line',
                        smooth: true,
                        lineStyle: {
                            color: colorList[index]
                        },
                        symbolSize: 5,
                        symbol: 'circle',
                        itemStyle: {
                            barBorderRadius: [30, 30, 0, 0],
                            color: colorList[index],
                            borderColor: '#fff'
                        },
                        data: y_data[index]
                    }
                })
                const option = {
                    backgroundColor: 'transparent',
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        },
                        confine: true,
                        formatter: function (params) {
                            let relVal = `${params[0].name}`;
                            let prefix
                            for (let i = 0, l = params.length; i < l; i++) {
                                prefix = `<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color: ${params[i].color}"></span>`
                                relVal += '<br/>' + prefix + `${params[i].seriesName}` + ' : ' + `${params[i].value} ${dw}`;
                            }
                            return relVal;
                        }
                    },
                    grid: {
                        top: '25%',
                        left: '3%',
                        right: '5%',
                        bottom: '5%',
                        containLabel: true
                    },
                    legend: {
                        top: "3%",
                        left: '3%',
                        textStyle: {
                            color: "#fff",
                            fontSize: 12
                        },
                        itemGap: 5,
                        itemWidth: 5,
                        itemHeight: 5,
                        icon: "circle",
                        data: legend
                    },
                    xAxis: [
                        {
                            type: "category",
                            axisTick: {
                                show: true
                            },
                            axisLine: {
                                lineStyle: {
                                    color: 'rgba(255, 255, 255, .05)'
                                }
                            },
                            data: x_name,
                            axisLabel: {
                                margin: 10,
                                fontSize: '.1rem',
                                formatter: "{value}",
                                color: '#fff',
                                rotate: 45
                            }
                        },
                    ],
                    yAxis: {
                        type: "value",
                        name: `单位：${dw}`,
                        position: 'left',
                        nameTextStyle: {
                            color: "#fff",
                            fontSize: "",
                            padding: [0, 0, 0, 15],
                        },
                        show: true,
                        axisTick: {
                            show: false,
                        },
                        axisLine: {
                            show: false,
                        },
                        splitLine: {
                            show: true,
                            lineStyle: {
                                color: "rgba(255, 255, 255, .09)"
                            }
                        },
                        axisLabel: {
                            fontSize: '.12rem',
                            color: '#fff'
                        }
                    },
                    series
                };
                myChart.setOption(option)
            },

            /**
             * 无政策情景/2030年达峰情景
             */
            fetchDataScene() {
                const { right_top } = this.resData;
                const { datas, title } = right_top;
                this.rightTopTitle = title;
                this.sceneDataList = datas;
            },

            /**
             * 碳达峰任务贡献率
             */
            fetchDataTaskGXL() {
                const { right_middle } = this.resData;
                const { datas, title } = right_middle;
                this.rightMiddleTitle = title;
                const dw = datas[0].dw;
                const myChart = echarts.init(document.getElementById('contributionRate'));
                const colors = ['#62FFF9', '#01FAFE', '#ED292A', '#5C7BD9', '#5390FF', '#FFF552', '#87C98B', '#0576FE', '#FFA176', '#BD6CFF', '#FF6023', '#F5936E']
                let richColor = {}
                colors.forEach((item, idx) => {
                    richColor[`color${idx}`] = {
                        fontSize: 12,
                        color: item
                    }
                })
                const seriesData = datas.map(item => {
                    return {
                        value: item.value,
                        name: item.name
                    }
                })
                const option = {
                    backgroundColor: 'transparent',
                    tooltip: {
                        trigger: 'item',
                        confine: true
                    },
                    series: [
                        {
                            name: title,
                            type: "pie",
                            radius: "78%",
                            center: ["50%", "50%"],
                            data: seriesData.sort(function (a, b) {
                                return b.value - a.value;
                            }),
                            roseType: "radius",
                            label: {
                                formatter: params => {
                                    return `{color${params.dataIndex}|${params.name}(${params.value + dw})}`
                                },
                                rich: richColor
                            },
                            labelLine: {
                                lineStyle: {
                                    color: "rgb(98,137,169)",
                                },
                                smooth: 0.2,
                                length: 10,
                                length2: 20,
                            },
                            itemStyle: {
                                color: item => {
                                    return colors[item.dataIndex]
                                },
                                shadowColor: "rgba(0, 0, 0, 0.8)",
                                shadowBlur: 20
                            }
                        }
                    ]
                }
                myChart.setOption(option)
            },

            /**
             * 碳达峰经济成本
             */
            fetchDataJJCB() {
                const { right_bottom } = this.resData;
                const { title, datas } = right_bottom;
                this.rightBottomTitle = title;
                this.economicCostDataList = datas;
            },

            handlePFQDToggle(yndqActive) {
                this.cate = yndqActive;
                this.handleChange();
            },

            getCurrentDateTime() {
                if (this.dateTimer) {
                    clearInterval(this.dateTimer)
                }
                this.dateTimer = setInterval(() => {
                    this.dateTime = moment(new Date()).format('YYYY/MM/DD HH:mm:ss')
                }, 1000)
            },

            /**
             * 绘制地图
             */
            drawMapChart() {
                const { map } = this.resData;
                const { maps } = map;
                const { title, dw, value } = maps[0];
                const tooltipDw = maps.length > 0 ? maps[0].dw : "";
                const that = this;
                const mapsKeyMap = {}
                let min = 0, max = 0;
                maps.forEach(item => {
                    if (!min || item.value < min) {
                        min = item.value;
                    }
                    if (!max || item.value > max) {
                        max = item.value;
                    }
                    mapsKeyMap[item.region] = item;
                })
                const myChart = echarts.getInstanceById('mapContainer') || echarts.init(document.getElementById('mapContainer'))
                const currentYear = this.year;
                const loadMap = (features, mapData, zoom, provinceName) => {
                    const geoCoordMap = {}
                    features.forEach(item => {
                        const {properties} = item
                        const {cp, name} = properties
                        geoCoordMap[name] = cp
                    })
                    const option = {
                        silent: false,
                        tooltip: {
                            trigger: "item",
                            show: true,
                            textStyle: {
                                fontSize: 14,
                                color: "#fff",
                            },
                            borderWidth: 3,
                            borderColor: 'rgba(10, 113, 174, 0.8)',
                            backgroundColor: "rgba(0, 0, 0, 0.8)",
                            extraCssText: "padding: 0;",
                            formatter: function (params) {
                                if (params.data) {
                                    return `
                                        <div class="map-tooltip">
                                            <div class="map-tooltip-header" style="border-bottom: 1px solid #5CB2E3; height: 40px; display: flex;align-items: center; padding: 0 10px;">
                                                <div class="header-icon" style="width: 5px;height: 5px; border-radius: 50%; background: #1CD5FF; margin-right: 5px;"></div>
                                                <div class="header-text">${ params.data.name }</div>
                                            </div>
                                            <div class="map-tooltip-content" style="padding: 10px 10px 10px 18px;">
                                                <div class="content-item">年度: ${currentYear}年</div>
                                                <div class="content-item">${title}: <span style="color: #FBEE16;font-weight: 600;">${params.data.value.length > 1 ? params.data.value[params.data.value.length - 1] : params.data.value}</span> ${tooltipDw}</div>
                                            </div>
                                        </div>
                                    `
                                } else {
                                    return ''
                                }
                            }
                        },
                        geo: {
                            map: provinceName,
                            roam: false,
                            zoom,
                            itemStyle: {
                                borderColor: '#84B2FD',
                                color: 'transparent',
                                borderWidth: 8,
                            },
                            regions: [
                                {
                                    name: '南海诸岛',
                                    itemStyle: {
                                        normal: {
                                            opacity: 0
                                        }
                                    },
                                    label: {
                                        show: false
                                    }
                                }
                            ]
                        },
                        visualMap: {
                            min,
                            max,
                            calculable: true,
                            inRange: {
                                color: ['#115C9E', '#16EB9C']
                            },
                            padding: [0, 0, 50, 50],
                            textStyle: {
                                color: '#fff'
                            },
                            text: ['高', '低'],
                        },
                        series: [{
                            map: provinceName,
                            type: 'map',
                            zoom,
                            roam: false,
                            coordinateSystem: 'geo',
                            selectedMode: 'single',
                            showLegendSymbol: true,
                            itemStyle: {
                                borderWidth: 1,
                                borderColor: '#84B2FD',
                                color: 'transparent'
                            },
                            data: mapData,
                            emphasis: {
                                //当鼠标放上去  地区区域是否显示名称
                                label: {
                                    show: true,
                                    color: "#fff",
                                    backgroundColor: "rgba(0, 0, 0, .25)",
                                },
                                itemStyle: {
                                    color: '#fcf565'
                                },
                            },
                            select: {
                                label: {
                                    show: true,
                                    color: "#fff"
                                }
                            },
                            label: {
                                show: true,
                                color: '#fff',
                                position: 'top',
                                fontSize: 12,
                                padding: 10
                            }
                        }]
                    }
                    myChart.setOption(option)
                }
                if (this.region === "china") {
                    $.get(`../assets/mapJson/全国.json`, function (data) {
                        // echarts.registerMap('china', data) 显示南海九段线
                        echarts.getMap("china").geoJson.features;
                        loadMap(data.features, data.features.map(item => {
                            if (mapsKeyMap.hasOwnProperty(item.properties.name)) {
                                return {
                                    name: item.properties.name,
                                    value: mapsKeyMap[item.properties.name].value
                                }
                            } else {
                                return {
                                    name: item.properties.name,
                                    value: 0
                                }
                            }
                        }), 1.2, 'china')
                    })
                    myChart.on('click',  params => {
                        const { name: provinceName } = params;
                        that.region = provinceName
                        console.log(that.region);
                        that.handleChange();
                    })
                } else {
                    $.get(`../assets/mapJson/${that.region}.json`, function (data) {
                        echarts.registerMap(that.region, data);
                        loadMap(data.features, data.features.map(item => {
                            if (mapsKeyMap.hasOwnProperty(item.properties.name)) {
                                return {
                                    name: item.properties.name,
                                    value: mapsKeyMap[item.properties.name].value
                                }
                            } else {
                                return {
                                    name: item.properties.name,
                                    value: 0
                                }
                            }
                        }), 0.9, that.region)
                    })
                }
            },

            handleMapChina() {
                this.region = 'china';
                this.handleChange();
            },

            handleDqClick(dq) {
                this.dq = dq;
                this.handleChange();
            },

            handleChange() {
                const loading = this.$loading({
                    text: "数据加载中...",
                    background: 'rgba(0, 0, 0, 0.25)'
                });
                const { cate, type, qj, dq } = this;
                const that = this;
                let region;
                if (this.region !== "china") {
                    if (this.region.indexOf("市") > -1) {
                        region = this.region.replace("市", "")
                    } else if (this.region.indexOf("省") > -1) {
                        region = this.region.replace("省", "")
                    } else if (this.region.indexOf("自治区") > -1) {
                        const keyMap = {
                            "内蒙古自治区": "内蒙古",
                            "广西壮族自治区": "广西",
                            "西藏自治区": "西藏",
                            "宁夏回族自治区": "宁夏",
                            "新疆维吾尔自治区": "新疆"
                        }
                        region = keyMap[this.region]
                    }
                }
                $.get(`${severUrl}/Newyc/index`, {
                    cate,
                    type,
                    qj,
                    dq,
                    region
                }, function(data) {
                    loading.close();
                    that.resData = data;
                    that.drawXFZLChart();
                    that.drawPFZLChart();
                    that.drawPFQDChart();
                    that.fetchDataScene();
                    that.fetchDataTaskGXL();
                    that.fetchDataJJCB();
                    that.drawMapChart();
                    that.handleFetchDLAreaData();
                })
            },

            handleNavClick(item) {
                window.location.href = item.location;
            },

            handleFetchDLAreaData() {
                if (this.region === 'china') {
                    const { bottom1, bottom2 } = this.resData;
                    this.bottom1Title = bottom1.title;
                    this.bottom2Title = bottom2.title;
                    this.alreadyAreaData = bottom1.datas;
                    this.notReachedAreaData = bottom2.datas;
                    this.areaTableHeight = $('.table-wrap').height();
                } else {

                }
            },

            handleToggleSceneData(activeType) {
                this.qj = activeType;
                this.handleChange();
            },

            fullScreenClick() {
                const isFullScreen = () => {
                    return !! (
                        document.fullscreen ||
                        document.mozFullScreen ||
                        document.webkitIsFullScreen ||
                        document.webkitFullScreen ||
                        document.msFullScreen
                    );
                }
                const de = document.documentElement;
                if (!isFullScreen()) {
                    if (de.requestFullscreen) {
                        de.requestFullscreen();
                    } else if (de.mozRequestFullScreen) {
                        de.mozRequestFullScreen();
                    } else if (de.webkitRequestFullScreen) {
                        de.webkitRequestFullScreen();
                    }
                } else {
                    if(document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if(document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if(document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    }
                }
            },

            handleHomeClick() {
                window.location.href = 'index.html'
            }
        },
        computed: {
            navLeft() {
                return this.navList.slice(0, 4)
            },
            navRight() {
                return this.navList.slice(4)
            },
            provinceData() {
                return provinceData
            }
        },
        watch: {
            dq: {
                immediate: true,
                handler(dq) {
                    if (dq === '1') {
                        this.leftBtnClass = 'area-group-item area-group-item--active'
                        this.rightBtnClass = 'area-group-item left-active'
                    } else {
                        this.leftBtnClass = 'area-group-item right-active'
                        this.rightBtnClass = 'area-group-item area-group-item--active'
                    }
                }
            }
        },
        mounted() {
            this.getCurrentDateTime();
            const loading = this.$loading({
                text: "数据加载中...",
                background: 'rgba(0, 0, 0, 0.25)'
            });
            const { cate, type, qj, dq } = this;
            const that = this;
            $.get(`${severUrl}/Newyc/index`, {
                cate,
                type,
                qj,
                dq,
                isfirst: 1
            }, function(data) {
                loading.close();
                that.resData = data;
                that.drawXFZLChart();
                that.drawPFZLChart();
                that.drawPFQDChart();
                that.fetchDataScene();
                that.fetchDataTaskGXL();
                that.fetchDataJJCB();
                that.drawMapChart();
                that.handleFetchDLAreaData();
            })
        }
    })
</script>
</body>
</html>
